[2013-12-27 04:41] milkypostman opened #3 "screenshot :P"
Would be cool to have on the main github page.

You can add it to the repository then link directly to it.

[2013-12-27 17:31] #3 closed, assigned to nobody

[2013-12-29 18:08] greduan opened #4 "Use different color sets depending on if it's GUI version or not"
How could we achieve this in a nice way?

Obviously define the variables with different values depending on if `window-system` is true or false. How though?

[2014-06-17 15:27] #4 closed, assigned to nobody

[2014-06-21 22:07] Greduan opened #5 "Change of license"
Hey @leemachin, sorry to bother you.

I just wanted to discuss with you a change of license. The new license would be [WTFPL](http://www.wtfpl.net/), which is my goto FOSS license.

Would you be OK with that? If yes, are there conditions or a specific way you'd like the changes to happen?

If not, OK.

[2014-11-28 14:09] jasonm23 opened #12 "Rainbow delimiters faces... avoid red for matched."
I noticed that the delimiters include a red color #cc241d, this is not such a good thing.  I suggest you switch it to a green, blue or yellow.

By the way, I'm working on some color tools, which will make things easier for theme-development (it'll help with CSS and any other place hex colors are used too.)

[2014-11-28 14:24] #12 closed, assigned to nobody

[2014-11-28 14:25] greduan opened #13 "New maintainer?"
@jasonm23 would you like to be the new maintainer?

I haven't used Emacs for some weeks and I haven't used Gruvbox for some months now. Been using Seoul256 on Vim and on Emacs I'm sticking with the default colors.

Would you like to be the new maintainer? It would work the same way as how I became maintainer of it. I update this repo's README.md to point to your fork and your fork mentions that th

[2014-11-29 00:06] #13 closed, assigned to nobody

[2015-01-26 03:16] #5 closed

[2015-01-26 03:17] Greduan commented on #5
I prefer ISC now, which is very similar to MIT so the license can stay as-is.

[2015-01-26 03:22] Greduan opened #15 "Update licencees (licensees?)"
Hey @jasonm23.

Just thought you'd want to update the license so that you're part of the people that own the project (according to the license).

So you can add to the LICENSE file (and README.md in the license section):

    Copyright (c) 2014-2015 jasonm23

Replacing `jasonm23` with whatever you prefer. :)

And in the theme file have:

[code]

TBH I'm not sure if this is necessary or good practi

[2015-03-18 11:47] #15 closed

[2015-03-18 11:48] jasonm23 opened #17 "Fix color assignment to use the proper display class style"

[2015-03-18 11:51] jasonm23 opened #18 "Remove redundant ansi vector"

[2015-06-22 16:16] norbertklar opened #21 "vim theme looks better"
Hello guys! This was my favourite theme in vim, but I don't know why did you changed the colors. Look at the picture:
![nb1qmi8](https://cloud.githubusercontent.com/assets/9632419/8286575/a538906e-190a-11e5-8781-8887815751e1.png)

Vim version on the left. Look at the difference! It so much better! Please remake your version, I'd like to use it. Thanks

[2015-06-22 16:43] greduan commented on #21
I imagine it's because of how different the syntax highlighting engines are, and what they consider keywords and stuff differ. Not sure if fixable, but @jasonm23 can try. ;P

[2015-06-22 16:48] norbertklar commented on #21
Will you message him? I'd really appreciate it.:)

[2015-06-22 17:01] opsmanager-team commented on #21
@greduan is correct it's due to the differences in the syntax engines.

[2015-06-22 18:50] norbertklar commented on #21
I hope, it'll be possible to remake this theme for good.

[2015-06-23 00:11] jasonm23 commented on #21
@norbertklar many people are already using this theme, and love it as it is.

While better is highly subjective, I don't necessarily disagree with you, it's simply that this theme on Emacs now has its own life.

[2015-06-23 00:11] #21 closed

[2015-06-23 09:10] norbertklar commented on #21
And maybe can you remake as a new theme?

[2015-06-23 11:18] greduan commented on #21
@norbertklar It'd be impossible to get exactly the same because of the highlighting engines. :/
Doesn't stop anyone from trying though.

[2015-08-10 16:31] onemanstartup opened #24 "Add spaceline support"
new in emacs, using https://github.com/syl20bnr/spacemacs
Text with powerline is dark on dark and not readable.

[2015-08-11 00:43] jasonm23 commented on #24
Screenshots pls.

[2015-08-11 10:30] onemanstartup commented on #24
![image](https://cloud.githubusercontent.com/assets/980000/9195651/248391fe-402d-11e5-9a70-5d028d720918.png)

[2015-11-06 01:56] locojay opened #25 "org mode love"
would be great to add some org/babel mode specific theming.

[2015-12-17 16:45] greduan opened #29 "Keep README up-to-date"
@jasonm23 The README has "Supports" and "To-do" sections, while I kept these updated when I was maintaining the theme, I can't anymore.

You think you could keep these updated or perhaps remove them altogether from the README? What do you think is better?

Also the theme version, I kept that up-to-date more or less, but it doesn't seem to be maintained anymore. Perhaps pick a fixed (as in stuck) v

[2015-12-17 23:38] jasonm23 commented on #29
Ok I'll take care of those

[2015-12-18 17:21] greduan commented on #29
@jasonm23 Thanks! :)

[2015-12-27 00:37] sleepmore opened #30 "Auto-complete support"
![screenshot from 2015-12-26 17-48-11](https://cloud.githubusercontent.com/assets/8596459/12008250/ba83704e-abfc-11e5-9236-c41cd86ef7b5.png)

Auto-complete is a pretty cool package and it'd be nice to have some basic support for it with this theme. Just at least for the drop down pictured above, everything else works decently as is, the drop down is all that really stands out as wrong.

[2015-12-27 01:32] jasonm23 commented on #30
I'm only on phone for a few days. However there is support for Autocomplete in emacsfodder/Emacs-theme-Darktooth which is _almost_ a drop in.

You could have a look and play with it, or bump this thread in a week or so, then I can get it done.

[2015-12-27 05:29] sleepmore commented on #30
![screenshot from 2015-12-27 00-19-06](https://cloud.githubusercontent.com/assets/8596459/12008943/8f4bc998-ac2f-11e5-98e6-f0f4c678b876.png)
Okay! Used your code from Darktooth and tweaked the colors, I I think it turned out pretty well. I'll submit a pull request now

[2015-12-27 05:35] jasonm23 commented on #30
Nice, that's completely on point for this theme/palette.

You may bump the version number too in your PR.

I will merge today after a quick review.

[2015-12-29 03:08] jasonm23 commented on #30
#31 fixes this :+1: thanks

[2015-12-29 03:08] #30 closed

[2015-12-29 03:08] jasonm23 commented on #30
Thank you @sleepmore Thomas

[2016-02-10 07:59] jasonm23 opened #32 "Merge / override with the newly developed gruvbox-dark."

[2016-02-10 08:01] jasonm23 commented on #32
@d125q @greduan opening this up for discussion.

[2016-02-10 17:31] greduan commented on #32
I'm not very into Emacs ATM, but I use gruvbox with vim so I can provide feedback. Of course I've admin to this repo so I can also add @d125q as a contributor if that'll make things easier.

From what I understand @d125q's repo has the same palette, but used differently so that it's less bright, is this correct? When I originally made the theme I made it so they used the same colors but I think gr

[2016-04-13 23:13] greduan opened #34 "Update licenses"
@jasonm23 sorry to bother you with something so dumb, but do you think you could update the copyright statements with 2016 as the latest year? Thanks man. :smiley:

[2016-04-23 17:09] greduan commented on #32
@d125q any update on this? I'd like for this merge to happen but I would like your support, especially in understanding the differences. :)

[2016-04-23 17:12] greduan commented on #32
For reference, here's a Reddit post's thread where this is discussed briefly (where this GitHub issue came from): https://www.reddit.com/r/emacs/comments/44oby0/gruvbox_dark_ported_to_gnu_emacs_with_better/czrp0pf

[2016-04-29 22:51] greduan commented on #34
Did it. :)

[2016-04-29 22:51] #34 closed

[2016-05-14 00:55] jasonm23 commented on #32
@d125q ping!

We would like to discuss merging our themes so that there's only one gruvbox.

Don't be concerned if you think you will lose control, we don't want that.

[2016-05-17 14:13] d125q commented on #32
I am in the process of doing major improvements to my theme.  I will discuss this once I'm done.

[2016-07-18 12:10] guilhermeasg opened #36 "Theme does not work in emacsclient?"
I'm really not sure about this one as I've never dug very deep into Elisp, so please confront me if I'm saying something silly.

This may have something to do with [this SO question](http://stackoverflow.com/questions/15555309/emacs-for-windows-error-loading-color-theme), I believe.
## Steps to reproduce
1. Kill Emacs daemon (if it was already running)
2. Launch Emacs (`emacs` from the command lin

[2016-07-18 12:14] jasonm23 commented on #36
Due to the way the Gruvbox theme is built you cannot use customize-theme with it.

[2016-07-18 12:19] guilhermeasg commented on #36
Interesting, but the same happens if I load it via `load-theme` on `init.el`. The problem seems to be in the order in which components are initialized.

[2016-07-18 12:21] jasonm23 commented on #36
How did you install it?  If you've done a manual install remove it and install via MELPA.

[2016-07-18 12:27] guilhermeasg commented on #36
It had already been installed from MELPA (`20160514.658`). I reinstalled it and this is still happening. This is odd because it seems not to happen with other themes. Are you not able to reproduce it as well?

[2016-07-18 13:18] jasonm23 commented on #36
I cannot reproduce it

[2016-07-18 20:18] guilhermeasg commented on #36
Welp. Gotta be something with my own config then. Thanks for your attention!

[2016-07-18 23:12] jasonm23 commented on #36
Try renaming your ~/.emacs.d temporarily and start Emacs again, and re-install GruvBox.

Please also make a note of your Emacs version and build parameters.

[2016-07-18 23:13] jasonm23 commented on #36
After running that test, simply remove the newly created .emacs.d and rename/move your original back in place.

[2016-07-18 23:17] jasonm23 commented on #36
(By the way, please note I am Slomojo on that Stackoverflow question.)

[2016-07-25 21:31] guilhermeasg commented on #36
Same result: works for Emacs, but not `emacsclient`.
<details>
<summary>*Messages* buffer</summary>
[code]
</details>

Weirdest internet coincidence I found in quite some time. :stuck_out_tongue:

[2016-08-08 05:53] dotmilk opened #37 "Unable to load color "color-235" [2 times]"
[code]

Theme appears to be ok, but I am unsure. Only does this in terminal, in cocoa everything is totally fine.

Noticed someone else [here](http://emacs.stackexchange.com/questions/965/unable-to-load-color-color-235-when-using-gruvbox-theme), who had the same problem.

Let me know if I can provide you with more details.

[2016-08-08 07:33] greduan commented on #37
While it's true what that SO answer says, which is that we should let Emacs do the converting of the full colour to 256 colours, the reason we don't is simply so that we use the exact same colours as the Gruvbox original theme (because that's how it's done in Vim).

What do you think @jasonm23, should we just let Emacs do the color conversion, considering it's an Emacs theme?

[2016-08-08 07:43] jasonm23 commented on #37
@greduan nearest match translation isn't performed and so the resulting values can be unpleasant.

The correct way to do this is to use the theme color class system, which is a little unpleasant to use, but we will avoid the drawbacks of `display-graphic-p`

I definitely do not recommend letting Emacs convert terminal colors on its own, because it sucks at it.

[2016-08-08 07:44] jasonm23 commented on #37
@cheshirecatalyst - please ensure your terminal is `xterm-256color`

[2016-08-08 09:05] cheshirecatalyst commented on #37
@jasonm23 - that is what the terminal reports and what iterm2 is set to etc and so on

[2016-09-12 01:34] #17 closed

[2016-09-12 04:02] jasonm23 commented on #37
Hi @dotmilk

I've looked into this and when the Emacs message is being sent, the color still loads as expected.

I think we can close this.

[2016-09-12 04:11] jasonm23 commented on #37
I think this is maybe mac specific, see this post.

http://apple.stackexchange.com/questions/84685/how-can-i-fix-a-missing-color-in-emacs

[2016-09-13 15:52] lf94 opened #45 "Light version"
Hey,

Could you please merge @vyp's light version of gruvbox? His gruvbox-theme.el is a fork of this project so it could make it easier.

I would greatly appreciate it. You've done a great job porting this theme over to emacs!

Thanks,

Lee

[2016-09-13 16:07] greduan commented on #45
@lf94 sorry a bit of context please? I thought you'd be from this issue https://github.com/greduan/emacs-theme-gruvbox/issues/32 but you're not.

[2016-09-13 16:16] jasonm23 commented on #32
@d125q bumping this, merge and collaboration.

[2016-09-13 18:37] lf94 commented on #45
@vyp has "forked" your code and added the light version of gruvbox. An issue is that he might have problems getting his extremely similar version of his gruvbox theme onto MELPA. The other issue is that yours is well maintained, but has no light version.

His fork his here https://github.com/vyp/gruvbox-emacs

I tried it merging them myself but it came out all weird.

[2016-09-16 09:09] jasonm23 commented on #45
We would like to have the gruvbox projects merge and have all collaborators join the one project so that Gruvbox just got support and development in one place.

So far though, these other project owners haven't contacted us.

We will eventually just implement the features any other Gruvbox theme on Emacs provides.

I will accept any pull request which provides an alternative light version, which i

[2016-09-16 10:11] vyp commented on #45
I'm willing to do this or support this at some point sorry for my lack of response to this, you guys have caught me at a bad time unfortunately.

[2016-09-16 12:50] jasonm23 commented on #45
Hi, thank you for contacting us.

I am happy to help out if there are tasks you can give me.

I'll hold on until we hear from you again.

[2016-09-22 04:49] zzgraph opened #52 "ivy and swiper support"
Dear maintainers and users

I'm working to get a good working colorscheme for ivy to make a pull request, but I'm stuck, I try to find a good color composition for minibuffer matching process and I don't have good artistic eyes :)) so please help me, any suggestion to make it better is welcomed.

this is the color composition that I currently use

``(ivy-current-match             ((t (:foreground

[2016-09-22 06:09] greduan commented on #52
Since you're already using a color, why not remove the bg?

[2016-09-22 08:26] mekeor commented on #37
I have this issue, too. Both on Mac OS as well as  Debian GNU/Linux. So it's not Mac specific.

[2016-09-22 09:47] jasonm23 commented on #37
Confirmed, it's Emacs, not OS specific, but the colors set correctly anyway, as long as the terminal is configured as xterm 256 or compatible.

I think this issue can be closed.

[2016-09-22 17:09] dotmilk commented on #37
To clarify, my problem isn't that it didn't display correctly, just that it is too noisy during startup. I have subsequently changed themes.

[2016-09-23 09:47] mekeor commented on #37
The issue occurs for me because my emacs daemon is launched automatically on boot. [This answer](http://emacs.stackexchange.com/a/26138/13390) on Emacs-StackExchange explains:

[2016-09-23 14:29] jasonm23 commented on #37
Yes, that's correct.

[2016-10-07 00:02] mekeor commented on #37
So, is there any possible solution to this? I'd love to use the gruvbox-theme together with my Emacs daemon.

[2016-10-07 00:39] jasonm23 commented on #37
The problem is making a theme with the correct color class syntax is a huge pain, and difficult to sugar away the nasty verbose syntax.

If you are having an issue because you launch the Emacs daemon under a different graphical environment, I would recommend you launch an initial instance on the display that you use most often.

If you are concerned about the error messages, you could raise a bug

[2016-10-31 22:52] terinjokes commented on #32
@d125q Also bumping this. Would like to see the two themes merged together so there's one place to work on plugin/feature support.

This repo is the one linked to from the gruvbox contrib project, so where most people migrating over to emacs would end up.

[2016-11-01 01:47] jasonm23 commented on #32
thanks for the feedback @terinjokes - we are attempting to get this integration done soon.

I may use Darktooth as the core project and then create a palette plugin system so we may all share the mode theming.

Creamsody was built in about an hour as an offshoot of Darktooth.

There will be some mode themes which are impacted by this strategy so I will be figuring out a nice release strategy, (pro

[2016-11-14 15:54] mekeor commented on #37
What is the  “color class syntax”? Does it allow each created emacsclient frame to rethink it's graphical/display environment? Maybe I could write the color class syntax if it's too much of a pain for you but I'd need more information on it.

[2016-11-18 01:58] mekeor opened #54 "Use color class system instead of `display-graphic-p` for Daemon"
I'm opening a new issue because the OP of #37 was originally describing a different issue, namely the error output while the theme was loaded correctly which is not the case for me.

# Description:

- Launch Emacs Daemon within terminal emulator within graphical desktop environment: `emacs --daemon`.
- Launch an Emacs Client within the terminal emulator: `emacsclient -c`.
- The theme is not loaded

[2016-11-18 02:03] mekeor commented on #54
Is the color class system what is described here? https://www.gnu.org/software/emacs/manual/html_node/elisp/Defining-Faces.html

[2016-11-18 15:04] jasonm23 commented on #54
By the way the background color being wrong AND the Unable to load color message are not actually related.

The Unable to load color message is simply a spurious error, the xterm terminal (or emulator) will still get the color name sent, and map it as per xterm.

See this chart for a list of xterm color names.

https://en.m.wikipedia.org/wiki/File:Xterm_256color_chart.svg

[2016-11-18 15:06] jasonm23 commented on #54
Slight error on my part, that chart lists the xterm color numbers .

They are named as `color-nnn`

[2016-11-18 15:09] jasonm23 commented on #54
By the way the color class entries are horribly verbose...

[code]

[2016-11-25 14:45] hicksy994 opened #55 "Some lines from org mode source blocks are rendered like comments. If i change the theme and then change back it fixes it."
This is really weird. Only happens with gruvbox and seemingly random lines from source blocks are affected. Any ideas?

[2016-12-02 03:56] jasonm23 commented on #37
Closing.

[2016-12-02 03:56] #37 closed

[2016-12-02 03:58] #29 closed

[2016-12-14 22:00] beojan opened #57 "The gutter is blue"
~~As in the title, the gutter is blue (roughly the Oceanic Next background color).~~
*Ignore, doesn't seem to be gruvbox specific.*

[2016-12-14 22:03] #57 closed

[2016-12-17 05:23] mekeor commented on #32
Is progress going on in this matter? If not, I could merge the two projects.

What about the license? emacs-theme-gruvbox is under MIT license and gruvbox-dark-emacs is under GPLv3. So, what'd be the license of the resulting code?

[2016-12-17 05:27] mekeor commented on #54
Today, I tried to understand and apply the color class syntax. In fact, it's a bit redundant, so I'd like to ask you if you have an idea how to get rid of the redundancy.

Here's the theme I'm currently testing on: https://gist.github.com/mekeor/a4ed7c7439fdf761dddcef5d5c20ed76 (I'm just experimenting – I'm not planning to publish another gruvbox theme for Emacs.)

[2016-12-17 10:22] jasonm23 commented on #54
Look at Autothemer

https://github.com/sebastiansturm/autothemer

[2016-12-17 14:57] jasonm23 commented on #32
@d125q any updates on your end?

We are planning to fold in the palette, and any additional mode support you've added.

It will probably involve us rewriting to use Autothemer.

[2016-12-17 14:57] jasonm23 commented on #32
@mekeor did you look at / try out Autothemer yet?

[2016-12-17 17:10] mekeor commented on #32
I just took a brief look. It's exactly what I was thinking about.

I'd like to merge gruvbox-dark-emacs and emacs-theme-gruvbox into a one theme. But still, I wonder what'd be the license of the result? I think it has to be GPL because gruvbox-dark-emacs is under GPL which has copyleft.

So, if we merge gruvbox-dark-emacs into emacs-theme-gruvbox, I think the most easiest way would be to change th

[2016-12-17 18:26] greduan commented on #32
Original author of this repo needs to be contacted if we want to change license to GPLv3, and he previously said no to changing license if I remember correctly.

I suggest simply dual licensing, this is possible between MIT and GPLv3, from what I understand.

[2016-12-18 01:34] jasonm23 commented on #32
@greduan - IMO it's simple and low impact to move gruvbox to GPL.

Plus we have control of this repo, and @d125q is (afaik) happy to integrate, just short on opportunity to communicate and act on the integration.

@mekeor I agree completely.  Autothemer is a project that was talked about over on the Darktooth theme project/repo but has not been used yet.

I'm a week away from my end of year vacati

[2016-12-18 07:54] jasonm23 commented on #54
FYI I'll be releasing 0.2.0 of Darktooth using Autothemer later today.

It won't be on master branch, so MELPA users of Darktooth won't suffer from any migration issues until I've dogfooded it sufficiently.

More details soon.  Autothemer must be manually installed from file.

[2016-12-18 08:44] jasonm23 commented on #54
https://github.com/emacsfodder/emacs-theme-darktooth/tree/use-autothemer

[2016-12-18 08:47] jasonm23 commented on #45
@vyp we are prepping to overhaul the gruvbox theme using autothemer

You can look at my sample work at https://github.com/emacsfodder/emacs-theme-darktooth/tree/use-autothemer - (for the Darktooth theme.)

The way we have the palette organised in Gruvbox makes it very easy to migrate

[2016-12-18 08:57] d125q commented on #32
I can re-license [gruvbox-dark-emacs](https://github.com/d125q/gruvbox-dark-emacs) if needed in order to make things compatible.

[2016-12-18 09:30] jasonm23 commented on #32
I have a feeling you can't revoke a GPL like licence.

We can simply re implement the code, because we'll be migrating to Autothemer when it's on MELPA

[2016-12-18 16:16] jasonm23 commented on #54
also added autothemer to my dev work on creamsody, it's working very well.

[2016-12-18 16:17] jasonm23 commented on #54
I'll convert Gruvbox tomorrow.

[2016-12-19 02:09] vyp commented on #45
Autothemer doesn't have an appropriate license though.

[2016-12-19 03:27] jasonm23 commented on #45
That can be fixed.

[2016-12-19 19:18] mekeor commented on #54
Are you on it? Btw, are you on IRC so we can communicate faster? I've got a working version of gruvbox theme using autothemer now.

[2016-12-19 19:21] mekeor commented on #54
It's not finished yet but it works: https://github.com/mekeor/emacs-theme-gruvbox/blob/autothemer/gruvbox-theme.el

[2016-12-19 23:37] mekeor commented on #45
Autothemer has a license now. It's GPLv3.

[2016-12-20 01:57] jasonm23 commented on #45
It sure does :+1:

[2016-12-20 01:58] jasonm23 commented on #32
@greduan - If you have no objections I'll re-licence Gruvbox as GPL3

[2016-12-20 07:31] greduan commented on #32
@jasonm23 Personally I don't like GPL3 (I prefer GPL2), but it's fine by me to relicense. Problem is original dev may not be if I remember correctly, and technically he's still a licensee.

However if it's fully new code, technically I've no right to name which license is used so go ahead and use what you want for new code. ;)

[2016-12-20 07:40] jasonm23 commented on #32
Noted.  I'll go ahead and change the license.

We can deal with problems if they arise.

[2016-12-20 07:40] terinjokes commented on #32
@jasonm23 You can't change the license of previously released bits that were released under a GPL. But you can have the contributors agree to relicense their contributions under another license (in effect, dual-licensing their code). But, also, I'm not a lawyer.

[2016-12-20 07:47] jasonm23 opened #58 "Change licence to GPL3 for merging with Gruvbox light (RFC)"
We are preparing to merge with Gruvbox light and wish to smooth the transfer by applying a compatible license.

GNU/GPL3

This issue is to reach out to contributors for comment.

Specifically @leemachin (as the original author of Emacs Gruvbox.) but anyone else who has contributed.

I will time box this RFC to 14 days and will change the license in Jan 2017 unless there is sufficient rationale to

[2016-12-20 08:41] jasonm23 commented on #32
It was released under MIT.  So there's nothing to be concerned about.

[2016-12-20 09:20] greduan commented on #32
It will have to be dual-licensed. MIT is copyleft.

[2016-12-20 09:28] leemachin commented on #58
No complaint from me @jasonm23  :) I'm happy for you to do what you think is best.

[2016-12-20 13:29] jasonm23 commented on #32
Afaik MIT is permissive, not copyleft.  @greduan can you point me at the specific section of the license you're referring to?

[2016-12-20 13:32] jasonm23 commented on #32
We will need to keep the MIT Licence notice in place but that's just to satisfy the MIT license itself.

Under other circumstances GPL3 will be the effective licence.

[2016-12-20 13:37] jasonm23 commented on #58
Thanks @leemachin much appreciated..

The MIT License notice will remain (to satisfy the requirements of that license.) But once we publish the code under GPL3, it will supersede the MIT license.

Technically it will be dual license, but effectively GPL3 will override the MIT license.

(For clarification @greduan)

[2016-12-20 14:18] mekeor commented on #58
If all copyright holders agree, you can change the license to whatever you want…

[2016-12-20 14:21] greduan commented on #32
@jasonm23

That's effectively copyleft, yes?

[2016-12-20 23:32] jasonm23 commented on #32
For the sake of argument, it's effectively copyleft.

The license is permissive and all factors of copyleft don't apply, but I don't think we need to concern ourselves with the complexity.

GPL3 will render any part of MIT which allows for permissive use, void.

GPL3 will also be an irrevocable license, that's the main issue I think we're facing.

We don't have any issues that I think are tangible

[2016-12-21 08:07] greduan commented on #32
So from what I can tell, we can actually change it.

Problem is if we want to change the license we need approval from each and every contributor of a "substantial amount of code" or whatever term the GPL uses to describe that, because they are also GPL copyright holders.

Baiscally, we can change the license, we just need permission from everybody since they automatically become copyright holders

[2016-12-21 10:49] jasonm23 commented on #58
I'm reaching out to all contributors to Emacs Gruvbox

We would like to merge Emacs gruvbox themes, and we need to
reconsider licencing.

You're mentioned here if you've contributed more than a few lines of code:
@atheriel @zzgraph @Dominionized @rcoedo @torgeir @yasuyk @rdrr

Please respond to this thread and add you consent to allow us to
modify the license as we need, to accomplish the goal of

[2016-12-21 11:24] rcoedo commented on #58
I agree with whatever you think is good for the project 👍

[2016-12-21 16:18] torgeir commented on #58
Seconded, go for it!

[2016-12-21 16:57] Dominionized commented on #58
Thumbs up for me :+1:

[2016-12-21 19:47] atheriel commented on #58
I'll happily relicense my contributions under the GPLv3. Good luck with the merge!

[2016-12-21 21:04] terinjokes commented on #32
@greduan which is why, if you want to keep it as MIT or similarly licensed code, now might be a good time. There's only 4 contributors to the other project.

[2016-12-21 21:58] greduan commented on #32
@terinjokes It's no longer only my project. :slightly_smiling_face: While I prefer ISC/MIT, if it's for the better of the project I don't have a problem relicensing it under GPL.

[2016-12-22 00:50] jasonm23 commented on #32
@d125q I had a thought.  Since all we will effectively be doing is integrating your palette, we can probably just stay with the MIT License.

There's no way we could move forward (and cover a significant amount of package defined faxes) without keeping a uniform mapping of color palette vars to face specs.

Obviously you will be credited with the palette but I don't think GPL would apply to that s

[2016-12-22 00:51] jasonm23 commented on #32
`s/defined faxes/defined faces/`

[2016-12-22 00:55] jasonm23 commented on #45
@vyp just a side note.

Autothemer is going to mean that implementing new palettes is significantly easier.

All the face attribute to palette value mapping will be uniform across all palettes.  I don't see this as a problem.

I'll try and wrap all this up next week.

[2016-12-24 16:02] jasonm23 commented on #54
Please check out the autothemer-amends branch.

BTW due to this significant slice of work, I'm adding you as a named author, please set the email.

Thanks for the great contribution.

[2016-12-24 20:18] mekeor commented on #54
Cool. Sure. Thanks, too. I will add more modes the following days. :)

[2016-12-25 02:47] jasonm23 commented on #54
Please hold off on any more additions, if you have anything to merge right now, please rebase on the autothemer-amends.

(or just do a diff and manual patch if you see a lot of conflicts.)
I can do this later on today probably if you don't have time.

I don't want to add any more modes really, not until after we've got the autothemer version released.

This way we can have smaller, atomic commits.

[2016-12-26 07:49] vyp commented on #45
@jasonm23 No yep I understand and appreciate it! Also as side note sorry I know it's been a long time here without any resolution but just have other priorities for the moment. But just want to say that I do still plan on getting around to this if no one else does so beforehand.

[2016-12-27 15:37] jasonm23 commented on #54
I've re-done the autothemer port from scratch because I had to integrate a couple of new PRs.

(Also after upgrading two other themes to use autothemer, I've got a quick workflow / macros etc. to make it a five minute task.)

I've released it to be built by MELPA and MELPA stable, so I hope we can put a few open issues to bed now.

@mekeor - check out `autothemer-generate-templates` if you haven't

[2016-12-27 15:37] #54 closed

[2016-12-27 15:38] jasonm23 commented on #54
e1c1564c2a95388f2dbd92870e2caa3562927aa6

[2016-12-27 15:38] #18 closed

[2016-12-27 15:39] jasonm23 commented on #36
e1c1564c2a95388f2dbd92870e2caa3562927aa6 should address this problem.

[2016-12-27 15:39] jasonm23 commented on #36
(released as 1.00)

[2016-12-27 15:45] jasonm23 commented on #52
Added ivy support in 1.01 (edge MELPA)

[2016-12-27 15:45] #36 closed

[2016-12-27 19:39] TyphoidTony opened #59 "Some colors look off after updating."
I just updated gruvbox today and there are a few colors that are darker than they used to be before updating it, namely the dark-red is sort of unreadable now.

[2016-12-28 02:32] jasonm23 commented on #59
Thanks for the heads up @TyphoidTony - we have integrated some palette changes, and I'm very interested in the feedback.

Can you provide a screengrab in this thread so I can get an idea of your user experience.

[2016-12-28 09:48] jasonm23 commented on #59
AFAICS dark-red has remained unchanged since it was added to the palette.  Would really like a screen grab, if you can find the older version in this repo and install it (package-install-file after removing gruvbox from your ELPA install.) that would really help nail the issue.

Thank you.

[2016-12-28 14:57] mekeor commented on #59
I made the same experience. After updating today, many colors are broken. In this screenshot, red and blue are just wrong.

![grafik](https://cloud.githubusercontent.com/assets/812632/21524418/2df97204-cd16-11e6-8099-e5e441dfa2f5.png)

[2016-12-28 15:38] jasonm23 commented on #59
@mekeor please check the gruvbox dark PR that was integrated.

The colors are updated, not _wrong_

[2016-12-28 15:38] jasonm23 commented on #59
#56

[2016-12-28 17:50] gilbertw1 commented on #59
Could you please consider reverting the color update? After updating the package today I was instantly struck by how bad the theme looks. The readability has been drastically reduced, as you can see in the following before / after screenshots:

Before:
![Before](http://drop.bryangilbert.com/Lwux.png)

After:
![After](http://drop.bryangilbert.com/hPdk.png)

I took these screenshots before and after

[2016-12-28 22:27] jasonm23 commented on #59
I am definitely considering a rollback.

I will say that I am using a different theme (except when developing Gruvbox) and so I'm not dogfooding.

Even so, I can certainly understand that changes can be jarring.

The color palette was modified to bring it into line with the Vim theme.  However, notably there are some differences in syntax highlighting too, so I don't think this update was such a f

[2016-12-29 02:01] #59 closed

[2016-12-29 16:07] #25 closed

[2016-12-29 20:28] gilbertw1 commented on #59
Thanks for the quick response!

In order to sync the color palette with the vim theme, I'm thinking you'd probably have to significantly modify the theme to make it look good. I appreciate your work on this, I recently ported a different vim theme to emacs so I understand how difficult it can be to reproduce the feel of the original and keep it balanced.

[2016-12-30 00:22] jasonm23 commented on #59
@gilbertw1 yeah, generally avoid making promises about a 1:1 port of a Vim to Emacs theme.

The first piece of work is to create the light version.  I'm going to attempt that today.

[2016-12-30 00:48] jasonm23 opened #60 "Fix bad XTerm colors"
Now that I have a better visualisation of the palette, it's obvious that there are a few Xterm colors which are either not good, or they are simply not in the xterm 256 palette.

[2016-12-30 02:18] jasonm23 commented on #60
1.12.0

[2016-12-30 02:18] #60 closed

[2016-12-30 14:57] jasonm23 commented on #45
@vyp @lf94 @mekeor

I've pushed a new branch [dark-light](https://github.com/greduan/emacs-theme-gruvbox/tree/dark-light)

This is using Emacs built in support for dark / light backgrounds so I'll need to figure something out that does this nicely.

There is a new custom var gruvbox-variant which can be set to dark or light and it will trigger the change when the theme is first loaded, but I think

[2017-02-12 04:06] ninrod opened #61 "what typeface/font is used in the screenshot?"
the [screenshot](https://github.com/greduan/emacs-theme-gruvbox/blob/master/screenshot.png) is using a beautiful font. What is it?

[2017-02-12 04:58] jasonm23 commented on #61
it's Menlo https://en.m.wikipedia.org/wiki/Menlo_(typeface)

[2017-02-12 13:28] ninrod commented on #61
thanks!

[2017-02-12 13:28] #61 closed

[2017-02-14 11:02] ninrod opened #62 "sharing some ideas on my fork"
Hi @jasonm23. Thanks for all your work with the theme!

You may want wan't to take a quick look on my gruvbox [fork](https://github.com/ninrod/gruvbox-theme).

I've ported over some modes supported by the darktooth theme and spacemacs theme, added some missing modes support like [eyebrowse](https://github.com/wasamasa/eyebrowse) plus a bunch of other tweaks.

Let me know if you wan't to cherry-pic

[2017-02-14 12:12] ninrod commented on #62
ok1

[2017-02-14 12:12] #62 closed

[2017-03-10 03:13] smypf commented on #45
@jasonm23 Could you explain how one goes about swapping between the two? Searching for a potential solution I came across https://github.com/sellout/emacs-color-theme-solarized/issues/167#issuecomment-145324305 but that didn't work the way I expected it to.

[2017-03-10 04:33] jasonm23 commented on #45
It's been a while since I looked, but it was frustratingly difficult to make it work reliably.

Auto themer helped a lot, but I didn't get the dark light switching I had hoped for.  Not a dead end, but more to be done.

[2017-05-12 09:09] metalelf0 commented on #45
Hi all, is there any update on this? I'm a big fan of this theme and newcomer to emacs. If I can help anyhow I'd be glad to.

[2017-05-12 10:29] jasonm23 commented on #45
I did some work on this and had disappointing results.  I can release a dark on light version a little easier though.

I will try and look at this again at the weekend

[2017-05-22 10:34] VanLaser commented on #45
The light version was also my Vim favourite, hoping it gets landed to Emacs soon :)

[2017-06-18 18:26] lobachevzky opened #64 "Love the fonts!"
Hi,
I love the fonts you are using for your headers and examples. What's it called?

[2017-06-23 07:55] greduan commented on #45
@jasonm23 I'd like to propose an idea, let me know if you already tried it.

It seems that the approaches that are common/popular for adding dark/light versions involve having some flag that switches and based on that some color variables change.

Instead of that, how about implementing two different `gruvbox-theme-dark.el` and `gruvbox-theme-light.el`? Exactly same code for both, just the colors

[2017-06-23 07:58] greduan commented on #58
@jasonm23 I can do this, it's easy changes.

Should the copyright statements stay as-is (with GPL changes ofc) or should the copyright start anew for GPL?

In other words, should it be:

[code]

Or:

[code]

For the new GPL

[2017-06-23 11:43] greduan commented on #64
This only @jasonm23 can answer.

[2017-06-23 13:16] jasonm23 commented on #64
Hi it's SauceCodePro Nerd Font

[2017-06-23 15:44] ninrod commented on #64
@lobachevzky, you should take a look at [office code pro](https://github.com/nathco/Office-Code-Pro). It's like source code pro, but with improvements.

[2017-06-24 00:28] jasonm23 commented on #64
All please note that SauceCodePro is not Source Code Pro.

[2017-06-24 00:29] jasonm23 commented on #64
https://github.com/ryanoasis/nerd-fonts

[2017-06-25 12:31] #64 closed

[2017-06-25 12:33] jasonm23 commented on #58
BTW it seems we don't need to worry about using GPL now that we've merged Martijnat's light version implementation.  I don't think there's any legitimate need for the other Gruvbox package on MELPA now.

[2017-06-25 12:35] jasonm23 commented on #45
No longer an issue.  An implementation of gruvbox light is now part of this theme.

[2017-06-25 12:35] #45 closed

[2017-06-25 12:35] #58 closed

[2017-06-25 12:37] jasonm23 commented on #32
@d125q  - please consider contributing any new patches to this repo. We have added light (soft, med, hard) and dark (soft + hard)

There is a single point where mode faces can be specified.

I think this takes care of the problems.

[2017-06-25 12:37] #32 closed

[2017-06-25 12:50] #24 closed

[2017-06-25 12:50] #55 closed

[2017-06-25 12:52] jasonm23 opened #67 "Magit support in light versions of the theme needs fixing"
As seen below Magit support needs tuning up

![image](https://user-images.githubusercontent.com/71587/27516209-fcbf5064-59e7-11e7-9f0c-efece4eb2112.png)

![image](https://user-images.githubusercontent.com/71587/27516212-0e61d738-59e8-11e7-8b35-0af0262cf69a.png)

![image](https://user-images.githubusercontent.com/71587/27516214-183a5a5a-59e8-11e7-8c1d-13aa6936e145.png)

[2017-06-25 15:41] martijnat commented on #67
I cannot reproduce the issue
![gruv1](https://user-images.githubusercontent.com/22380358/27517453-639d4900-59cd-11e7-92da-988be7af202a.png)
![gruv2](https://user-images.githubusercontent.com/22380358/27517454-639ee1ca-59cd-11e7-8f0a-cd9a58380ec6.png)
![gruv3](https://user-images.githubusercontent.com/22380358/27517455-63a2a7a6-59cd-11e7-8062-9c971a9bcb86.png)

Are you sure you are not overriding t

[2017-06-26 00:02] jasonm23 commented on #67
It's possible that the faces are set by another theme that wasn't properly
unloaded.

I will re-check shortly.

[2017-06-27 05:46] spegoraro opened #68 "ivy-current-match face is white with the light themes"
Loving the new theme variants! Nice work!

However ivy-current-match's face is just #ffffff at the moment which makes it hard to see with the light themes.

[2017-06-27 06:39] jasonm23 commented on #68
Thanks for using the new theme variants.

We need people to report these problems, so thank you for the help.

I'll check the theme and get a fix in there asap.

[2017-06-27 06:55] jasonm23 commented on #67
LGTM

[2017-06-27 06:55] #67 closed

[2017-06-27 07:08] jasonm23 commented on #68
@martijnat thank you

[2017-06-27 07:25] greduan opened #70 "Move images into their own folder"
Would be nice to move all the images to their own folder so they don't clutter the repo source code, also would allow (if this is a feature) to have something similar to an `.npmignore`, where distribution channels have a folder (`images/`) that they don't want to include in order to save bandwidth.

[2017-06-29 14:15] jdahm commented on #68
I think something unintended happened with the #69 merge. It looks like the commit d6d54c6 only duplicates a section of pairs above the mu4e definitions. Could you double check that @martijnat?

[2017-06-29 16:24] martijnat commented on #68
[It seems ivy support was already implemented earlier](https://github.com/greduan/emacs-theme-gruvbox/issues/52)

I was not aware of this and my addition was an unnecessary one it seems. It seems I have arrived at the same definitions by trying to find something close to the default faces.

The odd thing is that ivy-current-match did appear as #ffffff when using the light version and adding these

[2017-06-29 16:53] jdahm commented on #68
Great! I'll get around to using the latest version and test it later.

[2017-06-30 08:02] jasonm23 commented on #68
@martijnat I think we can probably replace all uses of gruvbox-white and black with their respective 0 hard counterparts.

[2017-06-30 08:03] jasonm23 commented on #70
I'll take care of this today

[2017-06-30 08:34] martijnat commented on #68
@jasonm23 I agree.

Perhaps it is also a good idea to rename grubox-dark to gruvbox-bg and rename gruvbox-light to gruvbox-fg.

[2017-06-30 15:51] jdahm commented on #68
#72 Didn't quite fix it for me. The current match is underlined and shown in all white, no matter what substring is matched by the input.

[2017-06-30 17:57] martijnat commented on #68
@jdahm I just tested it and It shows up with a black face and black underline using the light theme for me.

![ivy](https://user-images.githubusercontent.com/22380358/27748043-1e50b6f2-5dce-11e7-89d9-d6775618a195.png)

Could you confirm that

- You are using the latest version of gruvbox from melpa or git
- You have no customizations for ivy-current-match

[2017-06-30 18:10] jdahm commented on #68
Oh okay, I misunderstood what you're trying to do. That's exactly what I see and no I don't have any of the customizations set. I thought you meant that you wanted the match to show even on the currently-selected item as well as the others.

By the way, how do you get ivy to give you a list of the customization headings like that?

[2017-06-30 18:51] martijnat commented on #68
I think this is normal ivy behaviour. I normally use ido for completions so I could be wrong without knowing it.

    M-x customize-group ivy-faces

[2017-07-03 01:02] jasonm23 commented on #70
(today, for reals this time (was in Thailand without WiFi for the weekend))

[2017-07-03 01:05] jasonm23 commented on #68
@martijnat @jdahm almost completely off topic, but compared to ido vertical + fuzzy matching (assuming you've tried it) what differences do you have using ivy?

[2017-07-03 01:31] jasonm23 commented on #70
#74

[2017-07-03 11:06] martijnat commented on #68
@jasonm23 many small nuances, most of them are better/worse based on your preferences. I actually prefer *not* to have fuzzy matching since for me it is more error prone and use ido-horizontal because I do not want my minibuffer to change size.

[2017-07-03 16:30] #70 closed

[2017-07-05 12:40] zzgraph commented on #68
@jasonm23 one reason to use ivy-counsel-swiper may be a consistency anywhere from `M-x` to `C-h *` to `C-s` and also `C-x C-b` and `C-x C-f`

[2017-07-07 00:46] zzgraph opened #77 "Company quickhelp tool tip and company templates"
I'm working on some faces of company like template and tool tip, I want to know if you think these changes are ok, or you have any suggestion about it
company-templates
![company-template Before](https://user-images.githubusercontent.com/1885156/27938299-902e3aa0-62ac-11e7-9d73-60dfcdded883.png)
![company-template After](https://user-images.githubusercontent.com/1885156/27938307-a5a1bf1a-62ac-11e7

[2017-07-09 14:02] #68 closed

[2017-07-09 14:03] jasonm23 commented on #77
@zzgraph please post clean screenshots, these have some sort of color overlay.

[2017-07-09 14:41] zzgraph commented on #77
I'm gonna send clearer screenshots in a respective pull request.

[2017-07-15 10:37] martijnat commented on #77
Since #80 is now merged, this issue should be closed

[2017-07-15 23:25] #77 closed

[2017-07-16 22:13] ninrod opened #83 "add support for the new native line number feature, in emacs master"
as demonstrated [here](http://i.imgur.com/XvmKcO9.png)

[2017-07-17 00:12] jasonm23 commented on #83
![](https://i.imgur.com/XvmKcO9_d.jpg?maxwidth=640&shape=thumb&fidelity=high)

Does this match the current linum definitions?

[2017-07-17 00:15] jasonm23 commented on #83
Looks like we need to align linum and relative linum too.  Everything can be done in one shot.

If it's still needs doing by tonight (Singapore time) I'll get this done.

[2017-07-17 02:07] ninrod commented on #83
@jasonm23, here's what I did in my gruvbox [fork](https://github.com/ninrod/gruvbox-theme): [snippet](https://github.com/ninrod/gruvbox-theme/blob/322aa88dcb5ff82c36605e6cd28bff1edbaae6bd/gruvbox-theme.el#L341-L342)

[2017-07-17 16:04] jasonm23 commented on #83
Fixed by #84

[2017-07-17 16:04] #83 closed

[2017-07-18 09:43] greduan opened #86 "Add @martijnat as contributor"
@jasonm23

You think it'd be good to add @martijnat as a contributor? He has been making many PRs.

I propose this so that there's a more direct way for him to contribute of course, and to acknowledge his contributions.

Let me know. And I hope no pressure/hard feelings if the answer for you is no. 🙂

[2017-07-18 14:07] jasonm23 commented on #86
I think @martijnat has proved they're able to keep the faces / palette on track and I certainly appreciate all the effort going into the themes currently.

It's a great idea.

I will only ask that patches are still put in as pull requests so that they're reviewed before merge.

[2017-07-18 15:43] greduan commented on #86
You OK with being a contributor @martijnat ? 🙂

[2017-07-18 15:44] martijnat commented on #86
Fine with me.

So the main change would be that I can approve other peoples pull requests and close issues?

[2017-07-18 15:48] martijnat commented on #86
Yes.

Fine with me

[2017-07-18 16:55] martijnat opened #87 "Light variants of theme look bad in terminal"
Background colors look like faded plastic and the mode line is gray

All screenshots are GUI first, terminal second with same dimensions and font. I got the same colors on xterm, gnome-terminal and xfce4-terminal.

I am not exactly sure what RGB colors are valid colors in 256 color mode so I am hesitant to pick something that works on my machine that might not work on other terminal emulators.

Li

[2017-07-18 17:18] greduan commented on #86
In that case I believe so, yes.

[2017-07-19 02:38] ninrod commented on #87
@martijnat, what version of emacs are you using. seems that there's a merged patch in master that supports true color. Maybe it's not the case of messing with these colors in the 256-color version of the terminal as the emacs-26 release will contain the truecolor terminal support.

[2017-07-19 07:16] martijnat commented on #87
I compiled from master 2 days ago. `M-x emacs-version` gives me

`GNU Emacs 26.0.50 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.22.16) of 2017-07-17`

However even if emacs supported truecolor in the terminal you would want it to still work with 256-color terminals.

[2017-07-20 08:55] martijnat commented on #87
I have proposed an updated color scheme in https://github.com/greduan/emacs-theme-gruvbox/pull/88

[2017-07-27 15:29] beojan opened #89 "Line numbers match color of first character of line"
![image](https://user-images.githubusercontent.com/3727925/28678616-21e6dc46-72f1-11e7-8d08-72e195aa251b.png)

The image should make it clear.

[2017-07-27 15:45] greduan commented on #89
Thanks for the bug report. What version of Emacs are you using? I ask because it may be relevant if you're building your own Emacs. :)

[2017-07-27 16:47] beojan commented on #89
25.2

On 27 July 2017, at 17:45, Eduardo Lavaque <notifications@github.com> wrote:

Thanks for the bug report. What version of Emacs are you using? I ask because it may be relevant if you're building your own Emacs. :)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.￼

{"api_version":"1.0","publisher":{"api_key":"05dde5

[2017-07-30 08:50] martijnat commented on #89
I just tried it out and I can reproduce this issue with linum-mode in emacs25, but not in emacs26 or emacs24.

The linum faces inherit from the native line numbers introduced in emacs26.  When loading the theme under emacs25 the linum faces inherit from an undefined face, which causes some weird fallback behaviour.

I will have a closer look at it later today and send a pull request once I have fi

[2017-07-30 08:56] martijnat commented on #86
@greduan @jasonm23
Perhaps there was some miscomunication. I have the status of "contributor", which I think is just a title for anybody whose pull request has been accepted. I don't seem to have any special priveledges such as closing issues. I suspect you meant "Collaborator", the status that jason has.

[2017-07-30 14:39] greduan commented on #86
That was my intention yes. I didn't do it though.

[2017-07-30 18:46] martijnat commented on #89
@beojan I have included a fix for this issue in my own branch. If https://github.com/greduan/emacs-theme-gruvbox/pull/88 gets accepted it will automatically be included in the melpa version.

[2017-08-14 19:14] idoo opened #91 "spacemacs double themes switch"
Currently I'm using two themes for spacemacs `light` and `dark`
[code]
and it's works well, but with current gruvbox version:
[code]

I have a error message:

[code]
does anybody know how to fix it?

[2017-08-15 00:32] jasonm23 commented on #91
Looks like it cannot find autothemer.

To work around, make sure autothemer is installed.

We will check if autothemer dependency is properly setup.

[2017-08-15 00:34] jasonm23 commented on #91
Seems to be ok

How did you install the gruvbox update?

[2017-08-15 07:45] idoo commented on #91
@jasonm23 from melpa
`gruvbox-theme-20170809.719`

[2017-08-15 09:24] jasonm23 commented on #91
Is autothemer installed?

It's a package dependency and it should have been automatically installed by package.el.

[2017-08-15 09:25] jasonm23 commented on #91
(Of Gruvbox)

[2017-08-16 22:58] #89 closed

[2017-08-16 22:58] #86 closed

[2017-08-16 22:58] #87 closed

[2017-08-16 22:59] jasonm23 commented on #91
@idoo could you update with feedback please.

[2017-08-17 09:23] martijnat commented on #91
To see what was going on created a fresh spacemacs install. I don't
know much about space except that it is a popular emacs config.

- Installing gruvbox using `M-x package-install` works just fine.
- Selecting the theme using either `customize-themes` or `spacemacs/helm-themes` works fine.
- changing simply the dotspacemacs variable wasn't enough to get them to work, so I restarted spacemacs

How

[2017-08-17 11:43] jasonm23 commented on #91
@martijnat thanks for trying.  It's nonsense like this that had irritated me about Spacemacs since it came out.

The solution is to (perform a bunch of Spacemacs specific incantations which make little sense to anyone who is already well versed in Emacs and emacslisp.)

[2017-08-17 14:52] ninrod commented on #91
maybe this issuee should be opened in spacemacs.

[2017-08-17 17:38] BerberBerthold opened #93 "Colors not the same as original"
The colors are not the same as in the original vim gruvbox theme. They are slightly different. I can change them manually, but shouldn't you have the original colors as default?

Or am I not understanding something?

[2017-08-17 18:57] martijnat commented on #93
I just checked and the colors in this theme seem to be the same as those defined for the vim version.

One possible difference is if you use one application in a 256-color terminal (very common) and the other as a gui program. The 256-color pallete can only give you an approximation so the colors will be slightly different.

Could you provide an example of where the themes colors differ?

[2017-08-17 21:25] jasonm23 commented on #93
@BerberBerthold note that while the palette used is the same as Vim Gruvbox, the syntax coloring will not match in Vim and Emacs themes.

[2017-08-18 14:36] BerberBerthold commented on #93
I know that the syntax coloring is different. I am specifically talking about the colors.

Example: In the original, colors 2 and 10, the greens, are:
#98971A
#B8BB26
While in this Emacs port, the color #B8BB26 is present, though not the color #98971A.
This is similar with some of the other colors.

I don't know exactly how Emacs colors work compared to the terminal, or vim, but some of the origin

[2017-08-18 16:24] martijnat commented on #91
This seems an issue with spacemacs. This happens in other themes as well and cannot be fixed by changing the theme.

[2017-08-18 16:24] #91 closed

[2017-08-18 16:47] martijnat commented on #93
@BerberBerthold Thank you for the details.

In the light variants, the colors match the vim theme. In the dark variants, the neutral color variants are mismatched. Neutral colors are the same shade as the bright colors.

I suspect the colors were copied from an earlier version of gruvbox and not updated.

Fixing this in code can be done quite easily but changes the look of many faces and changes o

[2017-08-18 17:51] martijnat commented on #93
https://github.com/greduan/emacs-theme-gruvbox/pull/94 was created to fix this issue.

A lot of code was touched to fix this so it might take a while before it is merged

[2017-08-19 01:49] jasonm23 commented on #93
Thank you for clarifying @BerberBerthold

Please comment on the PR #94

@martijnat thanks for looking into this, I'm not sure there's a worthwhile improvement in the color change either.

If the goal of this theme is to be a 100% port of the Vim theme, we don't have a choice but to match palette.

AFAIC This goal is soft, mainly because we cannot match syntax coloring with Vim.

I would prefer to

[2017-08-27 22:42] #93 closed

[2017-10-17 00:21] artforlife opened #100 "Theme Is Rendered Differently in SLIME REPL Mode on Linux and Mac"
Greetings,

I use Emacs on both Ubuntu and MacOS for programming work. After installing your theme, I noticed that it is rendered slightly differently on the two operating systems. In particular, the SLIME's `CL-USER>` prompt is of annoying red color when rendered on a Mac.

I am attaching a couple of screenshots. Could you tell me how I could troubleshoot this? Despite being a minor issue, it als

[2017-10-17 01:39] jasonm23 commented on #100
Hi, thanks for reporting the issue. Could you provide the Emacs version string for both.

[2017-10-17 20:09] artforlife commented on #100
For Mac:
`GNU Emacs 25.3.1
Copyright (C) 2017 Free Software Foundation, Inc.`

[2017-10-18 01:55] jasonm23 commented on #100
Is that reported by `M-x version`

[2017-10-18 01:57] jasonm23 commented on #100
It would help to know how you installed on the Mac too.

Will need the Ubuntu version string (reported by `M-x version`)

[2017-10-18 01:58] jasonm23 commented on #100
Please confirm: the top screenshot is Ubuntu and bottom is Mac?

[2017-10-18 01:59] jasonm23 commented on #100
Also on Mac, running in Gui or Terminal?

[2017-10-18 15:10] artforlife commented on #100
Answers:

- Top screenshot is Ubuntu 16.01. Bottom is MacOS Sierra 10.12
- MAc Version via `M-x version`:
<img width="571" alt="screen shot 2017-10-18 at 11 08 46 am" src="https://user-images.githubusercontent.com/8064423/31726411-e639aac6-b3f4-11e7-8e82-903b596ff8b6.png">

- Ubuntu Version (will edit tonight with details).

- Both versions running in GUI.

[2017-10-19 00:45] jasonm23 commented on #100
FYI any messages shown in the minibuffer will be appended to the `*Messages*` buffer, so you can avoid sending text as a screenshot.

(Please send the version as text so no one else has to re-type it, i.e. me :D )

[2017-10-20 00:50] artforlife commented on #100
I included the Emacs version that runs on Ubuntu.  Thank you for the tip about the `Messages` buffer!

[2017-10-20 12:58] jasonm23 commented on #100
The method of installing Emacs on the Mac?

[2017-11-02 08:59] der-Daniel opened #101 "Highlighting in Emas-Lisp"
Hi,

when coding Elisp this looks like this.

![image](https://user-images.githubusercontent.com/7686866/32317508-4acbd0fc-bfb4-11e7-8d29-821f13932d01.png)

Why is `global-linum-mode` not highlighted like `setq` but like the comment.
Have I misconfigured the theme or is this a bug?

For Frodo.

[2017-11-02 17:16] martijnat commented on #101
I do not have this problem on my machine.

![orgbabel](https://user-images.githubusercontent.com/22380358/32340090-e3f5fa56-bff9-11e7-9726-180c91863acb.png)

Could you tell me the following so we can narrow down the possible causes?

- Does this problem occur with other themes as well?

- Does this problem go away is you disable and then re-enable the gruvbox them?

- What version of emacs are you

[2017-11-06 22:16] der-Daniel commented on #101
Using the default theme, this problem also occurs:

![image](https://user-images.githubusercontent.com/7686866/32466359-fa4e451a-c346-11e7-9c12-476ab994b9a9.png)

Same for `darktooth`.
Reenabling the theme did not resolve the issue.

Using `C-c '` to edit the code block in a separate buffer yields the following highlighting.

![image](https://user-images.githubusercontent.com/7686866/32466425-3a67

[2017-11-07 08:07] martijnat commented on #101
At this point we at least know that the problem is not specific to gruvbox.

I am 99% certain this is an org-mode specific problem. The odd thing is that the grey line has the org-block face. This face should only be used for the BEGIN_SRC and END_SRC lines.

When you edit using `C-c '`, the major mode actually changes. Unless you have some minor mode that changes colors and used in org-mode but n

[2017-11-07 10:35] #101 closed

[2017-11-07 21:12] der-Daniel commented on #101
But using the code in a simple Elisp buffer looks like this
![image](https://user-images.githubusercontent.com/7686866/32518023-a3e33ae2-c408-11e7-9c87-b5ee0d287143.png)

It's still not as fancy as your even though org has no effect on this buffer.

[2017-11-07 21:29] der-Daniel commented on #101
I also `rm -rf`'d my `elpa` directory and used `emacs -q` to install the theme in a complete vanilla setup.
Still the same in `org-mode` and `emacs-lisp-mode`.

[2017-11-08 01:06] jasonm23 commented on #101
Do you have a theme working as you'd expect for comparison

[2017-11-08 07:52] martijnat commented on #101
This is not something we can fix with this theme.

This issue requires a fix in org-mode (or potentially emacs). Send them a bug report and wait for a fix.

[2017-11-08 08:35] jasonm23 commented on #101
@martijnat thank you, that's what I thought.

[2017-11-08 20:46] der-Daniel commented on #101
Thanks for your answers.
What is your Emacs and Org Version, so I can test your setup on my machine.

[2017-11-09 07:38] martijnat commented on #101
On this current machine I am using debian and have installed emacs and
org mode from the stable repositories.

    Org-mode version 8.2.10 (release_8.2.10 @ /usr/share/emacs/25.1/lisp/org/)

    GNU Emacs 25.1.1 (x86_64-pc-linux-gnu, GTK+ Version 3.22.11) of 2017-09-15, modified by Debian

My config is also avaible online

   https://github.com/martijnat/.emacs.d

(just `M-x org-babel-load-file ~/

[2017-11-10 18:38] der-Daniel commented on #101
![image](https://user-images.githubusercontent.com/7686866/32673236-a7f5a2da-c64e-11e7-996b-98ae288b2837.png)
After trying out several things, I still could not figure it out yet.
Even with the org-version of your machine something is just not right..

[2017-11-11 01:19] jasonm23 commented on #101
Sorry @der-Daniel I think you may have misunderstood us somewhere along the line

Please let me reiterate, what you are seeing in org mode is as we expect, we don't see anything different.

If you are seeing the highlighting you want in another theme, please let me know what it is.

To the best of our knowledge Org & Emacs do not highlight org code blocks the way they are highlighted in their majo

[2017-11-11 19:49] ninrod commented on #101
@der-Daniel, I do not have this problem on my machine. Try with latest org-mode.

Also, it could be something within your configuration. Try to setup a minimal example. Like, starting from scratch, add gruvbox theme and try to reproduce.

[2017-11-12 01:26] jasonm23 commented on #101
@ninrod that's good news, can you post your org version number too please.

[2017-11-12 11:40] der-Daniel commented on #101
Thank for keeping up the support in this issue. I still try to figure it out by changing my config step-by-step.
@jasonm23 I want to get the same highlighting as in the screenshots of the README.

[2017-11-12 12:36] martijnat commented on #101
I hope you aren't changing your config line by line.

The best method for this is as follows:

- divide your config into two parts

- Comment the second part.

- Check if your problem still occurs.

- If the problem occurred, remove the second part

- If the problem did not occur, remove the first part and uncomment the
  second part.

- repeat until you have a minimal example.

Daniel Hitzel <not

[2017-11-12 12:47] der-Daniel commented on #101
Yes thanks.
I am still confused that even a minmal-minimal setup like only `gruvbox` and `emacs-lisp-mode` yields an incorrect highlighting. It looks like there is something deeper going on..

[2017-11-12 13:07] der-Daniel commented on #101
Phew I finally found the issue!

The problem with the screenshots provided by the README of this repo is not representative because it is including the package `highlight-defined`.
This is nowhere mentioned. I found it by stepping through the config file looking for things hooking into `emacs-lisp-mode`.

[2017-11-13 02:36] jasonm23 commented on #101
![](https://raw.githubusercontent.com/greduan/emacs-theme-gruvbox/master/images/gruvbox-dark-medium-screenshot.png)

Facepalm! Oh I can't even remember if I made that or if it was @greduan

[2017-11-13 08:07] greduan commented on #101
No org-mode magic from me haha. Good that it was found. 👍

[2017-11-13 08:38] martijnat commented on #101
It was me.

I'll create a new set a screenshots with vanilla emacs later.

[2017-11-13 09:25] martijnat commented on #101
A pull request is open https://github.com/greduan/emacs-theme-gruvbox/pull/102 for improved screenshots

[2017-11-13 09:58] jasonm23 commented on #101
:+1:

[2017-11-13 11:11] der-Daniel commented on #101
Thank you all for the collaboration. 👍
Keep up the good work.

[2017-11-14 00:49] patateskafa opened #104 "Symbol's value as variable is void: dired-ignored-face"
Getting "Symbol's value as variable is void: dired-ignored-face" error after fresh install.

To be more clear: Once Gruvbox gets installed and loaded for the first time nothing is unusual; but after restarting Emacs I get the aforementioned error.

[2017-11-14 02:21] #100 closed

[2017-11-14 02:30] jasonm23 commented on #104
Hi @patateskafa could you provide some info about your Emacs environment please.

OS Version::

Emacs version:

[2017-11-14 07:46] patateskafa commented on #104
Ah, sure. Emacs version: 25.3.1, OS: Arch Linux, kernel: 4.13.8-1

And here is the --debug-init output:

[code]

[2017-11-14 08:55] jasonm23 commented on #104
Please don't send byte code.

Check if `dired-ignored-face` is defined.

    M-x describe-variable dired-ignored-face

[2017-11-14 09:17] patateskafa commented on #104
It's not defined, that's the exact error output actually.

[2017-11-14 09:29] patateskafa commented on #104
When I remove the `:inherit`ed eshell parts from `gruvbox.el` and recompile it works. seems that I miss to have some dependencies. it's still a bug though I guess.

[2017-11-14 11:28] jasonm23 commented on #104
Thanks for the info.

Looks like that's the problem, those items should be quoted.  I'll have a look at getting a fix done shortly.

[2017-11-14 11:31] jasonm23 commented on #104
fixed in b6d93d25faff573a7f7712bc33fce1fe422473e0

[2017-11-14 11:31] #104 closed

[2017-11-14 11:32] jasonm23 commented on #104
Hold on a bit for MELPA to re-cycle it's package registry and update.

I'll tag it for MELPA stable too [1.22.1]

[2017-11-14 11:34] jasonm23 commented on #104
Good catch! thank you @patateskafa

[2017-11-14 11:35] patateskafa commented on #104
you're welcome!

[2018-01-23 16:44] flooose opened #107 "gruvbox-light-medium in ansi-term"
### I'm submitting a:

- [ ] Feature request
- [x] Bug report

### Bug Report :

The colors of the command prompt in ansi-term are are broken in gruvbox-light-medium. They seem to be using those of the previous theme.

### Please provide a relevant screenshot to illustrate the problem.

Here I'm using the spacemacs-dark color theme
![screenshot from 2018-01-23 11-37-12](https://user-images.githubu

[2018-01-23 17:38] martijnat commented on #107
Thank you for the bug report.

I can replicate the issue by loading a second theme without unloading
the first theme. If I unload the first theme, either before or after
loading the gruvbox theme, I cannot replicate the issue.

Could you tell me the value of custom-enabled-themes in the second
screenshot? You can get the value using the command `M-x describe-variable custom-enabled-themes`

If thi

[2018-01-23 18:43] flooose commented on #107
You're absolutely correct, `custom-enabled-themes` was set to `(gruvbox-light-medium spacemacs-dark)`. I never knew you could load multiple custom themes at the same time. `disable-theme` fixes the problem though, so I would say this issue is closed. Thanks for the info and the lovely color theme :)

[2018-01-23 18:43] #107 closed

[2018-02-07 22:28] haluk opened #108 "python-mode changing the color of matched parentheses and brighter line numbers"
### I'm submitting a:

- [x ] Feature request

### Feature request (ignore if this is a bug report.)
I love the gruvbox-theme but the color of matched parentheses is not obvious as opposed to mismatched color. A blue variant color to matched parentheses can be better fit to a theme. Also, brighter line numbers would be great too.

### Please provide a relevant screenshot to illustrate the problem.

[2018-02-07 23:11] martijnat commented on #108
I don't have time right now but I will look into it tomorrow.

Part of the problem is that the face contrasts badly with the line highlighting you have. It actually contrast decently with hl-line disable. I will have to try a few things to see what combinations work well.

Brighter line numbers is easy.

[2018-02-08 10:29] martijnat commented on #108
This is what I came up with:

![hl-line-match](https://user-images.githubusercontent.com/22380358/35968131-434f9988-0cc3-11e8-8be4-91c69fc4b948.png)
![hl-line-mismatch](https://user-images.githubusercontent.com/22380358/35968132-436feed6-0cc3-11e8-80ee-c72e42890894.png)

Let me know if this works for you.

[2018-02-08 10:42] haluk commented on #108
This looks good to me. Thanks.

[2018-02-08 14:42] #108 closed

[2018-02-16 21:17] ninrod opened #110 "[question] what font is this?"
Hi, what font is this that you guys are using?

![ha](https://raw.githubusercontent.com/greduan/emacs-theme-gruvbox/master/images/gruvbox-dark-medium-screenshot.png)

[2018-02-16 21:49] greduan commented on #110
If I'm not mistaken, looks like Luculent. http://eastfarthing.com/luculent/

[2018-02-16 22:06] ninrod commented on #110
it seems like it, but the `k` of the luculent font isn't quite like it. Same for the `y`. it seems inspired in luculent though.

[2018-02-16 22:09] ninrod commented on #110
it seems like it, but the `k` of the luculent font isn't quite like it. Same for the `y`. it seems inspired in luculent though. maybe @martijnat can provide a hint.

[2018-02-16 23:26] martijnat commented on #110
The font is [Fantasque Sans Mono](https://github.com/belluzj/fantasque-sans)

[2018-02-17 00:16] ninrod commented on #110
@martijnat thank you!

[2018-02-17 00:16] #110 closed

[2018-02-25 03:49] haluk opened #111 "Highlighting part of a line not so obvious"
### I'm submitting a:

- [x ] Feature request

### Feature request (ignore if this is a bug report.)
I'm not sure if it's related with the theme. If highlighting current line is on, it's not too bad if I mark block of lines. However, if I mark part of the line, I don't see the highlighted part.

### Please provide a relevant screenshot to illustrate the problem.
Block Highlight:
![block_hl](https:

[2018-02-25 14:25] martijnat commented on #111
This is theme related. Both the colors for hl-line and the region
(selected text) are defined by the theme and the contrast between them
is quite low. This could be fixed by changing either the hl-line color
or region color.

What to make the new colors is not so obvious.

Changing the colors of the line highlight doesn't work, it would
either blend more with the background or with the selected te

[2018-02-25 15:39] haluk commented on #111
I like the Variation 3 and 4.

[2018-03-07 22:28] haluk commented on #111
Any progress on this?

[2018-03-08 09:00] martijnat commented on #111
I do not know of any solution to fix the problem without making the
theme worse.

In my opinion, it is best to change **nothing**.

I have tried all variants listed above on my own setup. Unfortunately I
found all of them significantly worse than the current selection face
when using them for an extended time. Even if a slightly better region
face could be made I would be hesitant to change such a

[2018-03-13 15:47] a-dma opened #112 "which-func face too dark"
### I'm submitting a:
- [x] Feature request
- [ ] Bug report

### Feature request (ignore if this is a bug report.)
The `which-func` face is set do `Blue1` which appears to be completely off and quite hard to read.
It would be nicer to use one of the two blues in the palette (`#005f87` being the better one IMHO).

### Please provide a relevant screenshot to illustrate the problem.
![screenshot](ht

[2018-03-13 16:52] martijnat commented on #112
I made a pull request for the changes here: https://github.com/greduan/emacs-theme-gruvbox/pull/113

![1520958851-window](https://user-images.githubusercontent.com/22380358/37356860-42b732b8-26e7-11e8-8fb9-dd3f325a8ccd.png)
![1520958866-window](https://user-images.githubusercontent.com/22380358/37356861-42e007d8-26e7-11e8-93ae-c01971f1629f.png)

#005f87 is barely readable so I chose to use the bri

[2018-03-13 17:30] a-dma commented on #112
Great thanks!

Also, kind of hijacking my own issue here, but I would like to respectfully suggest you guys take a look at the [base16](https://github.com/belak/base16-emacs/blob/master/build/base16-gruvbox-dark-medium-theme.el) version of gruvbox.
I know this is mostly subjective, but I think they do a couple of nice things, specifically the modeline orange highlights and the slightly darker defa

[2018-03-13 17:39] greduan commented on #112
@a-dma so the issues don't get mixed up, feel free to open a new issue for that 🙂

[2018-03-13 17:48] a-dma commented on #112
@greduan indeed, sorry. Since it was just a passing remark mostly based on personal taste, I didn't want to create a separate issue and make more noise :)

I'll sit on it a while longer and open a new issue in case.
Thanks.

[2018-03-13 21:55] #112 closed

[2018-06-08 20:35] j3ky opened #115 "Ido support"
### I'm submitting a:

Hey Ive implemented gruvbox to` Ido-mode` :
https://i.imgur.com/A901DmU.png

[code]
- [x] Feature request
- [ ] Bug report

### Feature request (ignore if this is a bug report.)

### Bug Report : Describe the problem in your own words

### Please provide a relevant screenshot to illustrate the problem.

### Please tell us about your environment.

- OS version: Debian GNU Lin

[2018-06-09 04:49] jasonm23 commented on #115
Please submit as a pull request

Thank you

[2018-06-24 00:36] jasonm23 commented on #115
ido support updated in 1.25.0

[2018-06-24 00:36] #115 closed

[2018-06-24 00:37] jasonm23 commented on #111
Closing this.

[2018-06-24 00:37] #111 closed

[2018-07-16 03:48] lmumar commented on #87
That's a nice font! what's that font?

[2018-07-16 04:41] martijnat commented on #87
The font is called envypn

[2018-12-19 06:26] crocket opened #120 "Default text color of gruvbox-dark-* is too bright for my eyes."
I'm currently using gruvbox-dark-medium. The contrast between background and foreground is higher than the original. This is painful to my vision.

For example, the text color should be `ebdbb2`, but it is actually `fdf4c1` on emacs.

This is bad for night time reading.

[2019-01-16 21:18] chama-chomo opened #123 "Source blocks in org-mode"
### I'm submitting a:

- [x] Feature request
- [ ] Bug report

### Feature request (ignore if this is a bug report.)
The only thing I'm missing in this great theme is that source blocks in org-mode are not visually
separated from the rest of the text. Can this be improved, please?

### Bug Report : Describe the problem in your own words

### Please provide a relevant screenshot to illustrate the p

[2019-01-25 10:45] kaofelix8455 opened #124 "helm-action face is hard to see in light theme"
### I'm submitting a:

- [ ] Feature request
- [X] Bug report

### Feature request (ignore if this is a bug report.)

### Bug Report : Describe the problem in your own words

First of all, thank you for this great theme. I'm really enjoying using it day to day both light and dark.

The problem I'm facing is that the helm-action face is very hard to see when using the light theme since they are the

[2019-01-25 11:40] kaofelix8455 commented on #124
I'm closing this and reopening since I've accidentally used a work account for it, which will make it harder for me to follow it up later. Sorry for that!

[2019-01-25 11:40] #124 closed

[2019-01-25 11:41] kaofelix opened #125 "helm-action face is hard to see in light theme"
_Recreating this due to wrong account before_

### I'm submitting a:

- [ ] Feature request
- [X] Bug report

### Feature request (ignore if this is a bug report.)

### Bug Report : Describe the problem in your own words

First of all, thank you for this great theme. I'm really enjoying using it day to day both light and dark.

The problem I'm facing is that the helm-action face is very hard to se

[2019-01-25 17:05] JulHee opened #126 "Typo in org-drawer color definition"
### I'm submitting a:

- [ ] Feature request
- [X] Bug report

### Feature request (ignore if this is a bug report.)

### Bug Report : Describe the problem in your own words

First of all, thank you for this wonderful theme.

I found a bug, if you want to generate a css file  based on the current buffer (`M-x org-html-htmlize-generate-css`), emacs displays the error "Invalid face: font-lock-functi

[2019-01-28 08:39] greduan commented on #126
Fixed by linked PR.

[2019-01-28 08:39] #126 closed

[2019-02-10 07:20] #125 closed

[2019-02-10 11:00] phrxmd opened #129 "Support for auto-dim-other-buffers and automatic background colour"
### I'm submitting a:

- [X] Feature request
- [ ] Bug report

### Feature request (ignore if this is a bug report.)

I'm using `auto-dim-other-buffers` from [here](https://github.com/mina86/auto-dim-other-buffers.el) to visually highlight the buffer that has the cursor. This works by setting the background colour of the inactive buffers to a different value that can be customized (`M-x customize-

[2019-02-10 12:27] phrxmd commented on #129
I've gone ahead and added support, it turned out to be trivial. Check out PR #130.

[2019-02-10 14:04] #129 closed

[2019-02-22 17:06] cvanderwall14 opened #131 "Function for accessing gruvbox color hex values by name"
### I'm submitting a:

- [x] Feature request
- [ ] Bug report

### Feature request
Function for accessing the hex values of gruvbox colors by their names.

Something like:
[code]

Here's an example of how doom-themes does it:
[code]

[2019-02-22 23:04] jasonm23 commented on #131
Given that features would usually be discussed as user stories, could you share the use case / user story that you have for this?

[2019-02-22 23:20] cvanderwall14 commented on #131
As a user, I would like to access colors from the gruvbox theme in my
config.

For example:
As a user using `evil-mode`, I would like to set my cursor color to
`gruvbox-faded_yellow` when in `emacs` state.

[code]

On Fri, Feb 22, 2019 at 3:04 PM Jason Milkins <notifications@github.com>
wrote:

[2019-02-22 23:21] cvanderwall14 commented on #131
As a user, I would like to access colors from the gruvbox theme in my config.

For example:
As an `evil-mode` user, I would like to set my cursor color to `gruvbox-faded_yellow` when in `emacs` state.

[code]

[2019-02-22 23:28] jasonm23 commented on #131
Thanks for the info.

So in effect you want to build gruvbox specific extensions into your config.

[2019-02-22 23:32] jasonm23 commented on #123
Apologies for the late response.

Could you provide example(s) of how you think this could be improved.

[2019-02-22 23:34] jasonm23 commented on #120
Apologies for the late response.

Would you be able to send us a pull request.

[2019-02-23 01:33] crocket commented on #120
I looked for `fdf4c1` in `gruvbox-dark-medium-theme.el`. It was the first column of `gruvbox-light0`.
The first column of `gruvbox-light1` is `ebdbb2`.

I don't understand the data structure.

[2019-02-23 01:35] jasonm23 commented on #120
Ok. I'll take a look.

[2019-02-26 09:14] chama-chomo commented on #123
Hello, if you don't mind I'm gonna provide only examples taken from another hi-quality themes (monokai, spacemacs)

![image](https://user-images.githubusercontent.com/34240896/53400747-d4df2f80-39ae-11e9-8e3e-8f36f6d9a611.png)

![image](https://user-images.githubusercontent.com/34240896/53400791-ea545980-39ae-11e9-9a9d-bc743e03a067.png)

I'd probably go for a different background color in blocks

[2019-03-30 14:36] TimoFreiberg opened #133 "Neotree faces break gruvbox when neotree is not in use"
### I'm submitting a:

- [X ] Bug report

### Bug Report : Describe the problem in your own words
Since bacc441f67a18975eea4cd18af64c069b6d3918f, I can't use the gruvbox theme.
I use treemacs instead of neotree so I get a `error: (void-variable neo-banner-face)`
I guess this could be an autothemer bug, maybe it should check if the variable is void before using it...

Backtrace here: https://gist.g

[2019-03-30 16:26] atharvashukla commented on #133
Facing the  same issue, with `(void-variable neo-banner-face)`.

[2019-03-30 21:27] StarGazerM commented on #133
same issue

[2019-03-30 22:50] #133 closed

[2019-04-01 13:14] fleutot opened #135 "Adding faces to the original theme"
I am missing faces for `magit-diff-file-heading`, and made local copies of the files I found relevant, where I intend to test changes.

I don't understand how `gruvbox-light-soft-theme.el` finds `gruvbox.el`, and I can't make it happen in my local copies.

Details:

I copied `gruvbox-light-soft-theme.el` from my local elpa install to my `~/.emacs.d/themes/gruvbox-light-softer-theme.el`, and elpa's

[2019-04-05 16:45] kaofelix commented on #135
Hi @fleutot,

I can't directly answer your question, but I can share my workflow for testing changes and contributing changes to `gruvbox.el. I don't have a `my-gruvbox.el`, I have the latest version from Melpa installed on my emacs and I have this repo cloned on my machine with a remote for my fork included.

I take the following steps:

1. open `gruvbox.el`
2. make the changes I want
3. call `ev

[2019-04-10 14:44] fleutot commented on #135
Running `eval-buffer` on every change of my `my-gruvbox.el` did the trick. I naively thought that reloading the theme itself would reevaluate the other file through `require`. Thanks!

[2019-04-10 14:53] #135 closed

[2019-04-16 10:03] chama-chomo commented on #123
Guys, may I hope for an update in a near future? Is it feasible for you to make this improvement? Thanks a lot for a good work.

[2019-04-16 12:36] jasonm23 commented on #123
Gruvbox is essentially community driven.  We don't ask for payments or anything like that.

We provide the framework and our users contribute features they want.

If you want to contribute a pull request to add code blocks for Org, we welcome it.

However we all have full time jobs and very scarce free time with families and what not.

Hope you understand.

[2019-04-17 07:07] chama-chomo commented on #123
Jason, I'm sorry for this misunderstanding, my query was all but pushing you. It was rather to find out whether there is a possibility for you take a look on your side, so I'm not spending hours by figuring out how things work. I guess this change will be relatively easy for someone who is already onboard. I apologize for being unpolite.

[2019-04-17 08:19] jasonm23 commented on #123
Sorry if I gave you the wrong impression, I was just trying to make sure that you understood how Gruvbox is developed.

If you need help with implementation we are all happy to look at things with you.

What we likely won't be able to spend time doing is digging up the implementation from other themes.

As you have another theme which is doing this theming nicely, I'd encourage you to have a look

[2019-04-24 10:24] 97-109-107 commented on #123
@chama-chomo this should point you in the right direction on how to add this in your own setup https://emacs.stackexchange.com/a/14868

[2019-04-24 16:18] fbkarsdorp commented on #123
Indeed, as @97-109-107 points to, you can easily customize the colors using something like:

[code]

[2019-04-24 17:03] chama-chomo commented on #123
I have added below to gruvbox.el and org blocks look pretty good now.
[code]
![image](https://user-images.githubusercontent.com/34240896/56678349-c5d0e100-66c2-11e9-931e-4a8f80636df7.png)
I haven't checked other variants though, for accepting a new pull request would you need all variants edited? Thanks for your help

[2019-04-24 21:52] jasonm23 commented on #123
Hi @chama-chomo it'll be fine to add on more support for other variants as you go.

If you add in the essentials that'll be great

[2019-04-25 09:33] #123 closed

[2019-05-10 02:30] hmenke opened #139 "Colors are slightly different in GUI and terminal"
### I'm submitting a:

- [ ] Feature request
- [x] Bug report

### Feature request (ignore if this is a bug report.)

### Bug Report:

The colors are different in the GUI and terminal. For example when color-picking the background in the attached screenshot, I get `#282828` for the GUI (left side) and `#262626` for the terminal (right side).

### Please provide a relevant screenshot to illustrate

[2019-05-20 08:52] greduan commented on #139
This is not something that can be avoided if your terminal doesn't support true color (i.e. 24-bit color).

The terminal's 256 colors simply does not contain the 16 million possible colors the GUI can make 🙂

I checked this [256 colors list](https://jonasjacek.github.io/colors/) and indeed `#282828` is not a color there, but `#262626` is.

Does that answer your question?

[2019-05-20 09:57] hmenke commented on #139
That's interesting.  For some reason Vim and NeoVim are able to properly display `#282828` in the terminal.  However, for this to work one has to add `set termguicolors` to the `.vimrc`.

Left is terminal Emacs, right is terminal NeoVim.
![](https://user-images.githubusercontent.com/1903556/58013033-4c6fb700-7ae5-11e9-9371-507fcafc99ed.png)

[2019-05-20 11:08] jasonm23 commented on #139
https://www.gnu.org/software/emacs/manual/html_node/efaq/Colors-on-a-TTY.html assuming you've checked this.

[2019-05-20 11:10] #139 closed

[2019-05-20 11:11] jasonm23 commented on #139
BTW please note this is not a bug report.  This is related to Emacs support for 24 bit terminals.

[2019-09-15 14:16] lugubris opened #142 "Support erc"
### I'm submitting a:

- [x] Feature request

### Feature request

erc is not supported currently, default colors don't look nice.

### Please provide a relevant screenshot to illustrate the problem.

![2019-09-15-141326_1920x1080_scrot](https://user-images.githubusercontent.com/54440948/64922830-1e646000-d7c3-11e9-9c78-9312cb80e9a7.png)

### Please tell us about your environment.

- OS version: V

[2019-09-25 14:52] sometoby opened #143 "Theme modifies ansi-color-names-vector without being loaded"
### I'm submitting a:

- [ ] Feature request
- [x] Bug report

### Bug Report : Describe the problem in your own words

My init file contains the following:
[code]
I am *not* loading the theme anywhere. The list of candidates for `M-x unload-theme` is empty. Despite this, my `ansi-color-names-vector` ends up changed:
[code]

### Please tell us about your environment.

- OS version: Gentoo Linux

-

[2019-10-02 10:26] Crandel opened #144 "Compile theme to one single file without dependencies"
### I'm submitting a:

- [x] Feature request

### Feature request (ignore if this is a bug report.)
Is it possible to compile set of files to one theme file without extra dependencies(like autothemer or cl-lib)?
I used to use a **dark-mint-theme** and put it before any packaging installation or loading happens to have dark theme from scratch.

### Please tell us about your environment.

- OS versi

[2019-10-05 05:50] rayx opened #145 "Manual install instructions are not complete"
The [manual install procedure](https://github.com/greduan/emacs-theme-gruvbox#no-packageel) contains only the instructions about setting up loading theme files. However, all theme files depends on gruvbox.el. If that file is not located in `load-path`, emacs would fail to load the theme.

The following code change fixes the issue for me. I think the change also works with melpa (though I didn't ve

[2019-10-11 16:17] sandinmyjoints opened #147 "Support web-mode"
### I'm submitting a:

- [X] Feature request
- [ ] Bug report

### Feature request (ignore if this is a bug report.)
Support for http://web-mode.org/ !

### Bug Report : Describe the problem in your own words

### Please provide a relevant screenshot to illustrate the problem.

### Please tell us about your environment.

- OS version:

- Emacs version:

    (use `M-x version` then copy the version

[2019-10-11 16:18] sandinmyjoints commented on #147
This is a great theme, btw!

[2019-10-12 03:16] jasonm23 commented on #147
Hi @sandinmyjoints generally speaking Gruvbox on Emacs is community driven, there is no dev team picking up stories and feature requests from a backlog.

Certainly no one is gaining from this.

So we strongly encourage people posting feature ideas, to then fulfill them

[2019-10-16 17:36] sdevlin opened #148 "Smart-mode-line support is incomplete"
### I'm submitting a:

- [ ] Feature request
- [x] Bug report

### Bug Report : Describe the problem in your own words

Gruvbox defines several faces to support smart-mode-line; however, smart-mode-line defines multiple other faces that gruvbox does not. For example, smart-mode-line defines the following:

`(defface sml/modified         '((t :inherit sml/not-modified :foreground "Red" :weight bold

[2019-10-16 20:30] jasonm23 commented on #148
We would welcome a pull request to extend the cover of smart-modeline, or any other Emacs modes.

[2019-10-17 01:51] sandinmyjoints commented on #147
Fair enough. If I get some capacity to address this, I would be more than
happy to take a stab at it!

On Fri, Oct 11, 2019 at 11:16 PM Jason Milkins <notifications@github.com>
wrote:

--
williamjohnbert.com | github.com/sandinmyjoints |
twitter.com/williamjohnbert

[2019-10-17 01:56] jasonm23 commented on #147
Awesome 👍

[2020-01-23 23:41] sometoby commented on #143
Turns out I was very likely misusing `use-package`. My init file now contains `(use-package gruvbox-theme :defer t)`, and this problem no longer occurs. My bad!

[2020-01-23 23:41] #143 closed

[2020-01-29 00:01] rolandg opened #149 "ediff session is unreadable"
### I'm submitting a:
- [x] Bug report

### Bug Report : Describe the problem in your own words
ediff session is unreadable

### Please provide a relevant screenshot to illustrate the problem.
![image](https://user-images.githubusercontent.com/1443267/73304945-80c17880-4219-11ea-928e-4b068ee28bc6.png)

### Please tell us about your environment.

- OS version:
linux
- Emacs version:
GNU Emacs 26.3

[2020-01-29 02:38] jasonm23 commented on #149
We recommend submission of a pull request to add improvement to mode support.

[2020-01-29 15:50] rolandg commented on #149
Any hints where to start digging?

[2020-02-15 19:24] holtzermann17 opened #151 "gruvbox-theme-20200215.1624: error when running (load-theme 'gruvbox-dark-hard t)"
### I'm submitting a:

- [ ] Feature request
- [X] Bug report

### Bug Report : Describe the problem in your own words

`emacs -Q -l debug-gruvbox.el`

[code]

Produces:

[code]

**Emacs version:**
GNU Emacs 28.0.50 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.22.30, cairo version 1.15.10) of 2020-02-04

[2020-02-15 19:56] #151 closed

[2020-02-15 21:04] holtzermann17 commented on #142
I think this can close as of 09d9a94e1c9036653fa1291c72a4daf85415af50

[2020-02-17 13:35] holtzermann17 opened #155 "theme completions-common-part"
### I'm submitting a:

- [X] Feature request
- [X] Bug report (?)

### Feature request

I am unable to theme the face `completions-common-part`.  I wonder if this face is handled differently from other built in faces somehow?  It has been discussed recently in the Emacs mailing list:

- https://lists.gnu.org/archive/html/emacs-devel/2019-11/msg00167.html

### Please provide a relevant screenshot t

[2020-04-25 19:36] ianpan870102 commented on #149
@rolandg I just checked, there's none to be dug because the ediff config is lacking. If one wants to submit a PR then s/he'd had to fully add new tweaks for ediff (e.g.  faces like `ediff-even-diff-A`, `ediff-even-diff-B`, `ediff-odd-diff-A` etc).

[2020-04-25 23:50] jasonm23 commented on #149
Should have commented on this one sooner, sorry.

As Gruvbox is community driven, missing mode support is not considered to
be a bug.

PRs are appreciated and they are the way the theme has progressed and
developed over several years.

Even partially adding supporting a mode is a useful contribution.

So to underline, this issue will remain open.

However as there is no core support & maintenance

[2020-04-27 20:10] ssnnoo commented on #149
maybe like this [this](https://github.com/greduan/emacs-theme-gruvbox/pull/157#issue-409718819)?

[2020-04-28 03:37] jasonm23 commented on #149
@ssnnoo Good start.  I'll approve & merge.

Thank you

[2020-04-28 03:38] jasonm23 commented on #149
Please note this will be in the unstable release on MELPA

[2020-04-28 03:38] #149 closed

[2020-05-09 09:22] AndreaOrru opened #161 "Inconsistency between helm-selection-line and ivy-current-match"
### I'm submitting a:

- [x] Feature request
- [ ] Bug report

### Feature request (ignore if this is a bug report.)
In all Gruvbox themes, `helm-selection-line` makes use of a `gruvbox-dark2` background to highlight the currently selected element. The equivalent functionality in Ivy (`ivy-current-match`) uses underlining. I personally believe the choice made for Helm is better, and it should be a

[2020-05-09 09:25] AndreaOrru commented on #161
Separately, and related to this: any good reason why we're forcing both Helm's and Ivy's foreground to be white? That hides syntax highlighting when using `helm-swoop` and `swiper`.

[2020-05-10 00:32] jasonm23 commented on #161
Thanks for the feature suggestion.  Gruvbox has been community driven for a
while now so certain inconsistent settings and choices like this happen.

We invite all users to fix things via GitHub pull requests and make Gruvbox
better collectively.

We cannot guarantee prompt action on feature requests via other means.

Pull requests should feature before and after images so anyone interested
may co

[2020-06-03 17:38] jpalaciosdev opened #162 "Typo on aw-background-face foreground attribute"
### I'm submitting a:

- [ ] Feature request
- [x] Bug report

### Bug Report : Describe the problem in your own words
aw-background-face has a typo on :foreground attribute.

### Please tell us about your environment.

- OS version: Archlinux

- Emacs version: GNU Emacs 26.3 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.20) of 2020-05-19

[2020-06-04 05:56] #162 closed

[2020-06-04 05:56] jasonm23 commented on #162
Thanks for reporting and fixing

[2020-07-27 08:13] yourfate opened #165 "Code snippets in markdown mode set in different font"
### I'm submitting a:

- [ ] Feature request
- [x] Bug report

### Bug Report : Describe the problem in your own words
In markdown mode code snippets are set in a different font which looks out of place.

![markdown_bug](https://user-images.githubusercontent.com/47528796/88518613-09667900-cff1-11ea-8073-0cbeb86ccab3.png)

### Please tell us about your environment.
- OS:
arch linux

- Emacs version

[2020-07-27 13:12] yourfate commented on #165
Another info: If I then load a different theme, in my case _dracula_, it fixes the font, even if I then load gruvbox again. But after that some colours are wrong.

[2020-08-10 14:00] xorb0ss opened #167 "tabbar-use-images nil color is the same as the background"
### I'm submitting a:

- [ ] Feature request
- [x] Bug report

### Bug Report

When setting `tabbar-use-images` to nil, gruvbox makes the ASCII buttons are invisible (they’re there and clickable, just the same color as the background I think?)

In the screenshot below this is apparent:

### Please provide a relevant screenshot to illustrate the problem.

![39148CB6-376D-4442-9A57-3C012988E52C](htt

[2020-08-11 06:06] jasonm23 commented on #167
Please note Gruvbox development is 100% community driven.

Features which you'd like to see delivered, should take the form of a pull
request.

[2020-10-10 21:32] kino2007 opened #171 "Background of panes are white, but the rest seems to be working fine"
[ x] Bug report

The background of certain panes are white (#FFFFFF), however the background colors are seen in the outlines of those panes. Font colors, highlighting, and the like still work. (Although the highlighting is so dark!)

However if I create another frame, the background becomes the correct color. Strange, what happened?

![image](https://user-images.githubusercontent.com/10286228/9566

[2020-10-29 19:30] lanceberge opened #172 "Gruvbox colors not working in eshell"
### I'm submitting a:

- [x] Bug report
- [ ] Feature request

### Bug Report : Describe the problem in your own words
My eshell colors are the defaults, despite loading the gruvbox theme.

My gruvbox config is:

[code]

### Please provide a relevant screenshot to illustrate the problem.
![image](https://user-images.githubusercontent.com/64875593/97622922-52b4d300-19fb-11eb-83ea-c6da99ede9b8.png)

[2020-12-23 10:28] zoliky commented on #147
I just added basic support for web-mode. [https://github.com/greduan/emacs-theme-gruvbox/pull/174](url)
We'll have to wait until it gets merged.

[2020-12-23 10:29] zoliky commented on #147
I just added basic support for web-mode. https://github.com/greduan/emacs-theme-gruvbox/pull/174
We'll have to wait until it gets merged.

[2021-01-31 06:58] 95440b97d opened #176 "gruvbox-dark-soft background and company-tooltip are identical"
### I'm submitting a:

- [ ] Feature request
- [x] Bug report

### Bug Report : Describe the problem in your own words
gruvbox-dark-soft background and company-tooltip face are identical.

### Please provide a relevant screenshot to illustrate the problem.

![gruvbox-dark-soft](https://user-images.githubusercontent.com/22228993/106376928-3d03d080-6391-11eb-8e67-4273524aa7fb.png)

### Please tell u

[2021-01-31 21:44] 95440b97d commented on #176
A fix would be to not use the `gruvbox-dark0_soft` color for the faces `company-scrollbar-fg` and `company-tooltip`.

I suggest to use the following colors for the following faces:
[code]

Which gives the following result:
![gruvbox-light-soft-fix](https://user-images.githubusercontent.com/22228993/106398584-87c22e80-640b-11eb-9235-e08d3481811e.png)

The new colors work for all gruvbox-dark and li

[2021-02-09 15:29] ssnnoo commented on #176
how does your suggestion look with the light theme?

[2021-02-09 20:06] 95440b97d commented on #176
The proposed change does not change the light theme. The problem described in this bug report only exist in the gruvbox-dark-light color palette.

For reference here's a screenshot of gruvbox-light-soft:
![gruvbox-light-soft](https://user-images.githubusercontent.com/22228993/107421458-e70df600-6b11-11eb-81be-453eafeb20a9.png)

[2021-02-11 19:46] ssnnoo commented on #176
yes, unfortunately the separate files that define soft etc. only assigned colours, which colour identifier (gruvbox-dark2, dark1 etc.) is used for a specific face is defined for all themes in gruvbox.el. Hence, with the current code design one would need to change the colour identifier for company tooltip for all theme flavours.

[2021-02-13 20:10] 95440b97d commented on #176
Perhaps so but the suggested change works for dark-soft/medium/hard as well as for all light variants.

[2021-03-08 03:21] bataak commented on #120
Actually, I use gruvbox in my vim editor and I thought emacs-theme-gruvbox was exactly same with original one. But it didn't.

[2021-04-06 16:17] BooAA commented on #176
I have the same problem here, the background of company-tooltip can not be distinguished from the background of Emacs.  @95440b97d's fix looks good to me.

[2021-06-04 09:23] ssnnoo commented on #176
I prepared [this pull request](https://github.com/greduan/emacs-theme-gruvbox/pull/178#issue-661602185) with the suggested fix. Of course anyone of you could also have done it :-).

[2021-06-10 18:55] ssnnoo commented on #176
Close this one? :-)

[2021-06-11 00:24] #176 closed

[2021-06-11 00:25] #172 closed

[2021-06-11 00:26] #167 closed

[2021-06-11 00:27] #165 closed

[2021-06-11 00:27] #161 closed

[2021-06-11 00:28] #171 closed

[2021-06-11 00:28] #155 closed

[2021-06-11 00:28] #148 closed

[2021-06-11 00:29] #147 closed

[2021-06-11 00:29] jasonm23 commented on #145
Updates

[2021-06-11 00:29] #145 closed

[2021-06-11 00:30] jasonm23 commented on #144
No fix

[2021-06-11 00:30] #144 closed

[2021-06-11 00:30] #142 closed

[2021-06-11 00:31] #131 closed

[2021-06-11 02:04] crocket commented on #120
I checked again. It isn't fixed, yet.

[2021-06-11 02:38] jasonm23 commented on #120
Please note Gruvbox is 100% community maintained and driven.

Administrators and owner will only review and approve / reject pull requests for bug fixes and/or extensions.

Thank you.

[2021-06-11 05:03] crocket commented on #120
Can you at least reopen this issue?

[2021-06-11 06:14] jasonm23 commented on #120
Done, sorry, I thought you would be able to.

[2022-01-20 05:52] azzamsa opened #184 "Support Avy mode"
### I'm submitting a:

- [ X] Feature request

### Feature request (ignore if this is a bug report.)

[Avy](https://github.com/abo-abo/avy) is not supported currently, default colors don't look nice.

### Please provide a relevant screenshot to illustrate the problem.

- avy-goto-line

![image](https://user-images.githubusercontent.com/17734314/150281011-a9865b10-1951-4d42-9a14-07dff264fe4e.png)

[2022-02-16 09:16] tardigradus opened #185 "Identical faces for neighbouring gnus-cite levels"
### I'm submitting a:

- [ ] Feature request
- [ X] Bug report

### Feature request (ignore if this is a bug report.)

### Bug Report : Describe the problem in your own words

This concerns gruvbox-light-hard.

The faces for gnus-cite-1,  gnus-cite-2,  gnus-cite-3 are identical. The same is true for the group of levels 4, 5, 6, the group 7, 8, 9 and the group 10, 11

Is this intentional?  I feel t

[2022-02-16 09:40] jasonm23 commented on #185
Thanks for the request.

We'll happily review any pull requests to add mode support / fix defects.

[2022-06-24 16:05] #120 closed

[2022-07-23 09:49] P233 commented on #184
`gruvbox-light1` for the foreground color of `avy-lead-face` in light themes is difficult to read. Can we have a more light foreground?

<img width="546" alt="Screen Shot 2022-07-23 at 17 29 21" src="https://user-images.githubusercontent.com/1818679/180599594-c27d94fc-70c7-4284-9133-b2e7b2968e7b.png">
<img width="536" alt="Screen Shot 2022-07-23 at 17 29 36" src="https://user-images.githubusercont

[2022-07-23 10:19] jasonm23 commented on #184
Please review the theme palette and suggest alternatives.

Better still, apply the change, test it, screenshot it and post the code as a pull request.

If you need help with that, let me know.

[2022-07-23 14:28] P233 commented on #184
Thanks @jasonm23 for the quick reply, and @ethanmoss1 for adding Avy support.

The `gruvbox-light*` and `gurvbox-dark*` are assigned opposite colors in dark and light themes. I am not sure how to conditionally use them in [gruvbox.el](https://github.com/greduan/emacs-theme-gruvbox/blob/master/gruvbox.el). Therefore, I guess maybe we can directly use the `gruvbox-white` ?

Here are the screenshorts

[2022-07-23 16:19] jasonm23 commented on #184
Ok these look good to me for the momentary display of Avy jump tokens.

Please go ahead and submit the change as a PR

[2022-07-23 16:22] jasonm23 commented on #184
One thought perhaps the background colors of the tokens should be from the core palette of foreground colors.

Have a play and decide for yourself if you like the results

[2022-07-23 16:33] ethanmoss1 commented on #184
Any thoughts on using the gruvbox_dark0 and having the text be the same as the background, allowing the colour to 'pop'? tried it and it looks good. I can always do the PR once we're set on colours.

[2022-07-23 17:07] jasonm23 commented on #184
Looks more like Gruvbox to me.  I think that's perfect,

[2022-07-23 23:34] P233 commented on #184
Much better, thank you all 🎉🎉

[2022-08-04 01:33] jasonm23 commented on #185
Fixed in 01bcb9ed82cf00be15900fbe9721f62a6d1fa673

[2022-08-04 01:33] #185 closed

[2022-08-04 01:33] #184 closed

[2022-08-04 06:37] tardigradus commented on #185
Thanks for this.  I did work out what changes needed to be made myself, but couldn't get the faces to actually change.  When testing your new version just now, I had the same problem until I realised that I had the Emacs daemon running.  So just ending Emacs and restarting wasn't enough - I had to end Emacs, kill the ```emacs --daemon``` process and then restart.  Now I can see and enjoy the chang

[2022-08-04 19:34] josherrickson opened #192 "Issue with current release"
Just updated gruvbox through `list-packages`, now getting the following error when starting Emacs.

`Error (use-package): gruvbox-theme/:catch: Symbol’s value as variable is void: gruvbox-accent-00`

[2022-08-05 00:38] jasonm23 commented on #192
Thanks for the report I'll check it out.

[2022-08-05 00:49] jasonm23 commented on #192
I got the similar error

[code]

[2022-08-05 02:15] jasonm23 commented on #192
Restarting solved my issue, please restart and provide as much emacs and system info as possible if the error persists.

System: OS/ver
Emacs: Ver/compilaion options.

[2022-08-05 11:55] josherrickson commented on #192
The error persists after a reboot. Emacs 28.1 installed via homebrew on M1 Mac running 12.5. Any other diagnostic info I can provide?

[2022-08-05 12:33] jasonm23 commented on #192
Is your `.emacs.d` / `init.el` / `.emacs` posted online, or can you post any code related to installation / config of theme/gruvbox?

[2022-08-05 12:36] jasonm23 commented on #192
Also is the homebrew formula the regular emacs recipe or is it _exotic_, emacs-plus or emacs-mac for example.

Whatever info you have that allows me to recreate the conditions is perfect.  Emacs init should be sufficent though.

[2022-08-05 14:12] josherrickson commented on #192
My init is here: https://github.com/josherrickson/dotfiles/blob/main/init.el

It is regular homebrew formula, nothing special, `brew install emacs`.

[2022-08-05 17:55] Remillard commented on #192
I just ran into the same problem and mistakenly posted in the Vim gruvbox repo.  Here it is:

I'm running into a problem that I've got on one laptop but haven't had on any other installation. I cannot figure out what's going on. In my `init.el` file I have:

[code]

[2022-08-05 19:44] josherrickson commented on #192
Just updated to a newer version (gruvbox-theme-20220805.204) and the bug remains.

[2022-08-06 01:17] jasonm23 commented on #192
@josherrickson @Remillard looks like your issues are with `use-package`.

I can't really help out much further.

[2022-08-06 01:32] josherrickson commented on #192
I'm not sure that's entirely right - I launched emacs with only the following in my init and still get the error:

[code]

[2022-08-06 01:59] jasonm23 commented on #192
1. Move/remove any emacs config.
2. Start Emacs, `M-x package-install <return> gruvbox-theme`
3. `M-x load-theme <return> gruvbox-dark-medium`
4. ...

Considering Gruvbox is supplied through ELPA, install it that way or at least through a managed package installer, el-get, straight.el etc.

[2022-08-06 03:06] Remillard commented on #192
To my knowledge, `use-package` does load through ELPA.  It certainly isn't getting it from anywhere else like GitHub.  That said, just to test, I removed the package manually, installed the package manually, and while the `use-package` invocation still throws a caught void variable error, just doing a plain `(load-theme `gruvbox-dark-hard t)` does seem to work.  I do not have this issue on any oth

[2022-08-06 03:14] jasonm23 commented on #192
The problem is you're not installing the dependency

[2022-08-06 03:31] Remillard commented on #192
What dependency exists that isn't integral to the `gruvbox-theme` package?  As far as I can tell `gruvbox-accent-00` is defined in the various theme submodules and that makes perfect sense.

As noted, `use-package` is downloading from ELPA.  It was getting everything that was in that repository.  Also this is a recent problem, the exact same invocation works on a machine I setup with Emacs at the

[2022-08-06 05:44] jasonm23 commented on #192
As noted, if the package is installed through package.el and there is no involvement with use-package, the theme is working fine.

If you try that, you'll see.

This aside, I can't help you with other configurations you'll need to work that out by yourself.

Please don't assume that I think there is something inherently wrong with `use-package`, I don't.  I am just making it clear that we're not a

[2022-08-06 05:49] jasonm23 commented on #192
If you would like to make a note of the dependency tree required, remove `.emacs.d` / `init.el` and restart emacs, and do package-install grubox-theme.  The dependencies will be installed along with gruvbox and you make inspect them.

[2022-08-06 05:52] jasonm23 commented on #192
Current dependency tree for gruvbox.

[code]

[2022-08-06 10:21] josherrickson commented on #192
Here's what I did.

1) Rename `.emacs_d/` to something else
2) Start emacs.
3) Eval `(add-to-list 'package-archives '("melpa" . "https://melpa.org/packages/"))`
4) Run `M-x package-install <return> gruvbox-theme`
5) Run `M-x load-theme <return> gruxbox` as stated on the README, https://github.com/greduan/emacs-theme-gruvbox#no-packageel

This gives me the error we've been discussing.

If I run ste

[2022-08-06 10:58] jasonm23 commented on #192
Gruvbox is on ELPA.

By clearing . emacs.d and any other init.el / .emacs.d and just doing

    M-x package-install RET  gruvbox-theme RET

You get a working install.  There's nothing else to do.

If you get errors beyond that it's outside the scope of the theme.

[2022-08-08 03:46] jasonm23 commented on #192
The is fixed in  the latest  update.  Apologies, the error was due to using `gruvbox` as theme name,  which didn't have the new accent colors.

[2022-08-08 03:46] #192 closed